<template>
  <div style="min-height: 90vh" :class="staticClass">
    <div class="v-calendar-weekly__head">
      <div
        class="v-calendar-weekly__head-weekday pt-2"
        v-for="day in todayWeek"
        :key="day.dayIndentifier"
        :class="{
          'current-weekday': false,
          'primary--text': times.today.dayOfWeek === day.dayOfWeek,
          outside: !day.inCalendar,
        }"
      >
        {{ day.format("ddd") }}
      </div>
    </div>
    <day-row
      v-for="i in rows"
      v-bind="{ $scopedSlots }"
      v-on="$listeners"
      :key="i"
      :days="daysAtRow(i, 7)"
      :events="events"
      :calendar="calendar"
      :placeholder="placeholder"
      :placeholder-for-create="placeholderForCreate"
    >
    </day-row>
  </div>
</template>
<script lang="ts">
import props from "@/util/calendar/props";
import CalendarBase from "@/mixins/base";
import Localable from "@/mixins/localable";
import Times from "@/mixins/times";
import Mouse from "@/mixins/mouse";
import mixins from "@/util/mixins";

import { convertToUnit } from "@/util/helpers";
import {
  parseDay,
  createDayList,
  getWeekViewDays,
  getDayIdentifier,
} from "@/util/newCalendar";
import {
  Calendar,
  CalendarDay,
  Functions as fn,
  Units,
  DaySpan,
  EventRenderer,
} from "altoleap-calendar-lib/src";
import { mapActions } from "vuex";
import Vue from "vue";

export default mixins(Vue, Localable, Mouse, Times).extend({
  props: {
    calendar: {
      required: true,
      type: Calendar,
    },

    placeholder: {
      type: EventRenderer,
    },

    placeholderForCreate: {
      type: Boolean,
      default: false,
    },
    ...props.weeks,
    ...props.events,
  },

  data: () => ({
    scrollPush: 0,
  }),
  mounted() {},

  computed: {
    staticClass(): string {
      return "v-calendar-weekly";
    },
    parsedMinWeeks(): number {
      return fn.isString(this.minWeeks)
        ? parseInt(this.minWeeks)
        : this.minWeeks;
    },
    todayWeek(): CalendarDay<any, any>[] {
      // return getWeekViewDays(1, this.calendar.start);
      return Calendar.forType(Units.WEEK, 1, this.calendar.start).days;
    },
    rows() {
      return Math.floor(this.calendar.days.length / 7);
    },
  },

  methods: {
    classesHeader(day: CalendarDay<any, any>) {
      return {
        "ds-out-calendar": !day.inCalendar,
      };
    },
    daysAtRow(row: number, rowSize: number) {
      const start = (row - 1) * rowSize;

      return this.calendar.days.slice(start, start + rowSize);
    },
    isHighlighted(day: CalendarDay<any, any>) {
      return this.calendar.span.matchesDay(day);
    },
    // isOutside(d): boolean {
    //   const dayIdentifier = getDayIdentifier(day);

    //   return (
    //     dayIdentifier < getDayIdentifier(this.parsedStart) ||
    //     dayIdentifier > getDayIdentifier(this.parsedEnd)
    //   );
    // },
  },
});
</script>
<style lang="sass">
.current-weekday
  color: red
  color: red
@import './IntervalHeader.sass'
@import './VCalendarWeekly.sass'
</style>
