@import './_variables.scss'

// +theme(v-calendar-events) using ($material)
//   .v-event-timed
//     border: $calendar-event-border-width solid !important

//   .v-event-more
//     background-color: map-deep-get($material, 'calendar', 'background-color')

//     &.v-outside
//       background-color: map-deep-get($material, 'calendar', 'outside-background-color')

.v-calendar
    .v-event
        // margin: 1px
        // color: white
        // overflow: hidden
        // text-overflow: ellipsis
        // white-space: nowrap
        // padding-left: 0.5em
        // font-size: 12px
        // cursor: pointer
        // position: absolute
        // user-select: none
        // display: block
        // margin: 0
        // border-radius: 2px
        
        pointer-events: all
        position: relative
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        font-size: $calendar-event-font-size
        cursor: pointer
        line-height: $calendar-event-line-height
        margin-right: -$calendar-line-width
        z-index: 2
        border-radius: $calendar-event-border-radius
        user-select: none
        box-sizing: border-box
        transition: transform 300ms cubic-bezier(0.4,0.0,0.2,1),opacity 300ms cubic-bezier(0.4,0.0,0.2,1)

    .v-event-start
        // margin-left: -5px
        
    .v-event-end
        margin-right: -5px


    .v-event-more
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        font-size: $calendar-event-font-size
        cursor: pointer
        font-weight: bold
        z-index: 1
        position: relative

    .v-event-timed-container
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin-right: $calendar-event-right-empty
        pointer-events: none

    .v-event-timed
        position: absolute
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        font-size: $calendar-event-font-size
        cursor: pointer
        border-radius: $calendar-event-border-radius
        pointer-events: all
        border: $calendar-event-border-width solid !important

    .circle-event
        display: -webkit-box
        display: -webkit-flex
        display: flex
        -webkit-align-items: center
        align-items: center
        -webkit-box-flex: none
        -webkit-flex: none
        flex: none
        -webkit-justify-content: center
        justify-content: center
        margin-right: 6px
        .circle-inner-event
            border-radius: 8px
            border: 4px solid
            height: 0
            width: 0

    .rsvp-2
        background-image: linear-gradient(45deg,transparent,transparent 40%,rgba(0,0,0,0.2) 40%,rgba(0,0,0,0.2) 50%,transparent 50%,transparent 90%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.2))
        background-size: 20px 20px
        background-repeat: repeat-x


    &.v-calendar-events
        .v-calendar-weekly__head-weekday
            margin-right: -$calendar-line-width
        .v-calendar-weekly__day
            overflow: visible
            margin-right: -$calendar-line-width
