<template>
  <div class="v-calendar-daily" v-resize.quiet="onResize">
    <!-- head -->
    <week-header
      v-on="$listeners"
      v-bind="{ $scopedSlots }"
      :calendar="calendar"
      :placeholder="placeholder"
      :placeholder-for-create="placeholderForCreate"
      :days="calendar.days"
      :events="events"
      :scroll-push="scrollPush"
      :interval-width="intervalWidth"
    ></week-header>
    <!-- head -->

    <!-- body -->
    <div class="v-calendar-daily__body ">
      <div
        class="v-calendar-daily__scroll-area overflow-y-auto"
        ref="scrollArea"
        style="height: 80vh;"
      >
        <div
          class="v-calendar-daily__pane"
          ref="pane"
          :style="`height: ${convertToUnit(bodyHeight)}`"
        >
          <div class="v-calendar-daily__day-container">
            <!-- intervals -->
            <div
              class="v-calendar-daily__intervals-body"
              :style="`width: ${convertToUnit(intervalWidth)}`"
            >
              <div
                class="v-calendar-daily__interval"
                :style="`height: ${convertToUnit(intervalHeight)}`"
                v-for="interval in intervals[0]"
                :key="interval.timeIdentifier"
                @click="$emit('interval', interval)"
              >
                <div
                  class="v-calendar-daily__interval-text grey--text text--darken-1"
                  v-bind:class="{
                    'd-none': interval.format('h A') === '12 AM',
                  }"
                >
                  {{ interval.format("h A") }}
                </div>
              </div>
            </div>
            <!-- intervals -->

            <!-- days -->
            <template v-for="(day, dayIndex) in calendar.days">
              <day-times
                :key="day.dayIdentifier"
                :day="day"
                :calendar="calendar"
                :day-index="dayIndex"
                :events="events"
                :now-line="nowLine"
                :intervals="intervals"
                :time-to-y="timeToY"
                :placeholder="placeholder"
                :placeholder-for-create="placeholderForCreate"
                v-on="$listeners"
                v-bind="{ $scopedSlots }"
              >
              </day-times>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import props from "@/util/calendar/props";
import CalendarWithIntervals from "@/mixins/intervals";
import CalendarWithEvents from "@/mixins/events";

import { convertToUnit } from "@/util/helpers";
import { getTimestampIdentifier } from "@/util/newCalendar";
import {
  Calendar,
  CalendarDay,
  EventRenderer,
  DaySpan,
  Day,
  Constants,
} from "altoleap-calendar-lib/src";
import mixins from "@/util/mixins";
export const OFFSET_TIME = 10000;

export default mixins(CalendarWithIntervals).extend({
  data: () => ({
    scrollPush: 0,
  }),
  props: {
    events: {
      required: false,
      type: Array,
    },
    calendar: {
      required: true,
      type: Calendar,
    },
    placeholder: {
      type: [Object],
    },
    placeholderForCreate: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    this.init();
  },
  computed: {
    nowLine(): string | object {
      const now = this.times.now.asTime().toMilliseconds();
      const delta = now / Constants.MILLIS_IN_DAY;
      const top = delta * this.bodyHeight;

      return {
        position: "absolute",
        left: "0px",
        right: "-1px",
        top: top - 1 + "px",
        // borderTop: this.getStyleNowBorder()
      };
    },
    parsedEvents(): any[] {
      return this.events.map(this.parseEvent);
    },
  },

  methods: {
    convertToUnit,
    init() {
      this.$nextTick(this.onResize);
      // console.log("load", this.days);
    },
    parseEvent(event: any, index = 0): any {
      const input = event;
      const time = new DaySpan(
        new Day(new Date(event.date.start)),
        new Day(new Date(event.date.end))
      );
      const start = time.start;
      const startIdentifier = start.dayIdentifier;
      const startTimestampIdentifier: number = getTimestampIdentifier(start);

      const end = time.end;
      const endIdentifier = end.dayIdentifier;
      const endOffset: number =
        `${start.hour}:${start.minute}` === "0:0" ? 0 : 2359;
      const endTimestampIdentifier: number =
        getTimestampIdentifier(end) + endOffset;
      const allDay: boolean = start.minute == 0 && start.hour == 0;

      return {
        input,
        time,
        allDay,
        start,
        startIdentifier,
        startTimestampIdentifier,
        end,
        endIdentifier,
        endTimestampIdentifier,
        index,
      };
    },
    onResize() {
      this.scrollPush = this.getScrollPush();
    },
    getScrollPush(): number {
      const area = this.$refs.scrollArea as HTMLElement;
      const pane = this.$refs.pane as HTMLElement;

      return area && pane ? area.offsetWidth - pane.offsetWidth : 0;
    },
    clickDate(day: CalendarDay<any, any>, event: MouseEvent) {
      this.$emit("click:date", day);
    },
  },
});
</script>
<style lang="sass">
@import '../IntervalHeader.sass'
@import '../VCalendarDaily.sass'

.v-current-time
  height: 2px
  background-color: #ea4335
  position: absolute
  left: -1px
  right: 0
  pointer-events: none

  &.first::before
    content: ""
    position: absolute
    background-color: #ea4335
    width: 12px
    height: 12px
    border-radius: 50%
    margin-top: -5px
    margin-left: -6.5px
    // z-index: 505
</style>
