<template>
  <v-app>
    <calendar-app
      ref="app"
      :calendar="calendar"
      :read-only="readOnly"
      :events="events"
      @change="saveState"
      :use-utc="false"
    >
      <template #title>
        {{ $altoleapCalendar.title }}
      </template>
      <template slot="eventPopover" slot-scope="slotData">
        <calendar-event-popover
          v-bind="slotData"
          :read-only="readOnly"
          @finish="saveState"
        ></calendar-event-popover>
      </template>
      <template #eventCreatePopover="{ placeholder, calendar }">
        <calendar-event-create-popover
          :calendar-event="placeholder"
          :calendar="calendar"
          :close="$refs.app.$refs.calendar.clearPlaceholder"
          @create-edit="$refs.app.editPlaceholder"
          @create-popover-closed="saveState"
        ></calendar-event-create-popover>
      </template>
    </calendar-app>
  </v-app>
</template>
<script lang="ts">
import CalendarBase from "@/mixins/base";
import mixins from "@/util/mixins";
import Vue from "vue";
import {
  Day,
  Calendar,
  CalendarInput,
  CalendarDay,
  Weekday,
  EventRenderer,
} from "altoleap-calendar-lib/src";
import { sync } from "vuex-pathify";
import { debounce } from "@/util/helpers";

export default mixins(Vue).extend({
  data: () => ({
    storeKey: "altoleapCalendar",
    readOnly: false,

    events: [
      {
        id: 1,
        title: "Green Weekly Meeting",
        description: "Green meeting description from 12pm",
        color: "#009688",
        date: {
          start: "2020-09-10T12:00:00Z",
          end: "2020-09-10T14:00:00Z",
          timezone: "America/New_York",
        },
        recurrence: {
          enabled: true,
          rules: ["DTSTART:20200812T120000Z", "FREQ=DAILY;INTERVAL=1;COUNT=30"],
        },
        location: "online",
        participants: [],
        cancelled: false,
        rsvp_status: 3,
      },
      {
        id: 4,
        title: "Red Weekly Meeting",
        description: "Red meeting description from 12pm",
        color: "red",
        date: {
          start: "2020-09-10T20:00:00Z",
          end: "2020-09-10T22:30:00Z",
          timezone: "America/New_York",
        },
        recurrence: {
          enabled: true,
          rules: ["DTSTART:20200812T120000Z", "FREQ=DAILY;INTERVAL=1;COUNT=30"],
        },
        location: "online",
        participants: [],
        cancelled: false,
        rsvp_status: 3,
      },

      {
        id: 2,
        title: "2 hour Event",
        description: "2 hour evnet from 5:3-am",
        color: "#3b51f5",

        date: {
          start: "2020-09-10T05:30:00Z", //14 - 2pm
          end: "2020-09-10T07:30:00Z", //17- 5pm
          timezone: "America/New_York",
        },
        recurrence: {
          enabled: true,
          rules: ["DTSTART:20200705T053000Z", "FREQ=WEEKLY;INTERVAL=1;COUNT=5"],
        },
        location: "online",
        participants: [],
      },
      {
        id: 3,
        title: "1 hour Event",
        description: " 1 hour event from 5am",
        color: "#3f51b5",
        date: {
          start: "2020-09-10T05:00:00Z", //14 - 2pm
          end: "2020-09-10T06:00:00Z", //17- 5pm
          timezone: "America/New_York",
        },
        recurrence: {
          enabled: false,
          rules: ["DTSTART:20200720T050000Z", "FREQ=WEEKLY;INTERVAL=1;COUNT=5"],
        },
        location: "online",
        participants: [],
      },
      {
        id: 4,
        title: "Test Event",
        description: "test event from 12am",
        color: "#FFC300",
        date: {
          start: "2020-08-25T00:00:00Z",
          end: "2020-08-31T10:00:00Z",
          timezone: "America/New_York",
        },
        recurrence: {
          enabled: true,
          rules: ["DTSTART:20200725T000000Z", "FREQ=DAILY;INTERVAL=1;COUNT=20"],
        },
        location: "online",
        participants: [],
      },
      {
        id: 4,
        title: "Test multipl day Event",
        description: "multiple day event from 1 am",
        color: "#424242",
        date: {
          start: "2020-08-28T01:00:00Z",
          end: "2020-08-29T01:00:00Z",
          timezone: "America/New_York",
        },
        recurrence: {
          enabled: true,
          rules: ["DTSTART:20200725T000000Z", "FREQ=DAILY;INTERVAL=1;COUNT=10"],
        },
        location: "online",
        participants: [],
      },
    ],
  }),
  computed: {
    calendar: sync<Calendar<any, any>>("calendar/calendar"),
  },

  methods: {
    getEventsMap(): any {
      const eventsMap: any = {};
      const elements = this.$refs.events as HTMLElement[];
      console.log({ elements });
    },
    getCalendarTime(calendarEvent: EventRenderer<any, any>) {
      const sa = calendarEvent.start.format("a");
      const ea = calendarEvent.end.format("a");
      let sh = calendarEvent.start.format("h");
      let eh = calendarEvent.end.format("h");

      if (calendarEvent.start.minute !== 0) {
        sh += calendarEvent.start.format(":mm");
      }

      if (calendarEvent.end.minute !== 0) {
        eh += calendarEvent.end.format(":mm");
      }

      return sa === ea ? sh + " - " + eh + ea : sh + sa + " - " + eh + ea;
    },

    saveState() {
      const state = this.calendar.toInput(true);
      const json = JSON.stringify(state);

      localStorage.setItem(this.storeKey, json);
    },
    loadState() {
      let state: any = {};

      try {
        const savedState = JSON.parse(localStorage.getItem(this.storeKey)!);

        if (savedState) {
          state = savedState;
          state.preferToday = false;
        }
      } catch (e) {
        console.log(e);
      }

      if (!state.events || !state.events.length) {
        state.events = this.events;
      }
      // console.log("PARED EVENTS", parseEvents(this.events));

      // let defaults = this.$dayspan.getDefaultEventDetails();

      // state.events.forEach((ev) => {
      // ev.data = mergeDeep(ev.data, defaults);
      // ev.data = ev.data;
      // });

      (this as any).$refs.app.setState(state);
    },

    // setState(state: CalendarInput<any>) {
    //   //   state.eventSorter = state.listTimes
    //   //     ? Sorts.List([Sorts.FullDay, Sorts.Start])
    //   //     : Sorts.Start;

    //   this.calendar.set(state);

    //   this.triggerChange();
    // },

    //  viewDay(day: CalendarDay) {
    //   this.rebuild(day, false, this.types[0]);
    // }

    // isType(type: any, aroundDay: CalendarDay) {
    //   let cal = this.calendar;

    //   return (
    //     cal.type === type.type &&
    //     cal.size === type.size &&
    //     (!aroundDay || cal.span.matchesDay(aroundDay))
    //   );
    // },

    // rebuild(aroundDay: CalendarDay, force: boolean, forceType: any) {
    //   let type = forceType || this.currentType || this.types[2];

    //   if (this.isType(type, aroundDay) && !force) {
    //     return;
    //   }

    //   let input = {
    //     type: type.type,
    //     size: type.size,
    //     around: aroundDay,
    //     eventsOutside: true,
    //     preferToday: false,
    //     listTimes: type.listTimes,
    //     updateRows: type.updateRows,
    //     updateColumns: type.listTimes,
    //     fill: !type.listTimes,
    //     otherwiseFocus: type.focus,
    //     repeatCovers: type.repeat,
    //   };

    //   this.setState(input);
    // },
  },
  mounted() {
    (window as any).app = this.$refs.app;
    this.calendar.removeEvents();

    // const state = this.calendar.toInput(true);
    // this.calendar.set(state);
    // app.re
    // debounce(, 1000);
    setTimeout(() => this.calendar.setEvents(this.events), 1000);
    this.calendar.refresh();

    (this as any).$refs.app.$forceUpdate();
  },
});
</script>
<style lang="scss" scoped>
.ds-expand {
  width: 100%;
  height: 100%;
}

.ds-calendar-container {
  padding: 0px !important;
  position: relative;
}
</style>
