<template>
  <v-app>
    <v-main>
      <v-container>
        <test />
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import mixins from "@/util/mixins";
import CalendarEvents from "@/mixins/events";
import props from "@/util/calendar/props";
import { Day, parseDay, Units, CalendarInput } from "altoleap-calendar-lib/src";
import WeekView from "@/components/WeekView/Index.vue";
import DayView from "@/components/DayView/Index.vue";
// import MonthView from "@/components/MonthView/Index.vue";
import { sync } from "vuex-pathify";
// import MonthView from "@/components/MonthView.vue";
// import CategoryView from "@/components/MonthView.vue";
export default mixins(CalendarEvents).extend({
  name: "App",

  components: {
    // WeekView,
    // DayView
  },

  props: {
    ...props.calendar,
    ...props.weeks,
    ...props.intervals,
    ...props.category,
  },

  data: () => ({
    lastStart: null as Day | null,
    lastEnd: null as Day | null,
    // type: "month",
    types: [
      {
        id: "D",
        label: "Day",
        shortcut: "D",
        type: Units.DAY,
        size: 1,
        focus: 0.4999,
        repeat: true,
        listTimes: true,
        updateRows: true,
        schedule: false,
      },
      {
        id: "W",
        label: "Week",
        shortcut: "W",
        type: Units.WEEK,
        size: 1,
        focus: 0.4999,
        repeat: true,
        listTimes: true,
        updateRows: true,
        schedule: false,
      },
      {
        id: "M",
        label: "Month",
        shortcut: "M",
        type: Units.MONTH,
        size: 1,
        focus: 0.4999,
        repeat: true,
        listTimes: false,
        updateRows: true,
        schedule: false,
      },
      {
        id: "Y",
        label: "Year",
        shortcut: "Y",
        type: Units.YEAR,
        size: 1,
        focus: 0.4999,
        repeat: true,
        listTimes: false,
        updateRows: true,
        schedule: false,
      },
      {
        id: "S",
        label: "Schedule",
        shortcut: "S",
        type: Units.DAY,
        size: 92,
        focus: 0.0,
        repeat: false,
        listTimes: false,
        updateRows: false,
        schedule: true,
      },
      {
        id: "X",
        label: "Custom",
        shortcut: "X",
        type: Units.DAY,
        size: 4,
        focus: 0.4999,
        repeat: true,
        listTimes: true,
        updateRows: true,
        schedule: false,
      },
    ],
  }),
  computed: {
    // type: sync<Units>("calendar/type"),
    currentType: {
      get(): any {
        return (
          this.types.find(
            (type: any) =>
              type.type === this.calendar.type &&
              type.size === this.calendar.size
          ) || (this.types[0] as any)
        );
      },
      set(type: any): any {
        this.rebuild(undefined, true, type);
      },
    } as any,
    parsedValue(): Day {
      if (this.value instanceof Day) {
        return this.parsedStart || this.times.today;
      } else {
        return parseDay(this.value, true);
      }
    },
    renderProps(): any {
      const around = this.parsedValue;
      console.log(around);

      let component: any = null;
      // let maxDays = this.maxDays;
      // let weekdays = this.parsedWeekdays;
      // let start = around;
      // let end = around;
      switch (this.currentType.type) {
        case Units.MONTH:
          component = WeekView;
          // start = around.startOf("month");
          // end = around.endOf("month");
          break;
        case Units.WEEK:
          console.log("week");

          component = DayView;
          // start = around.startOf("week");
          // end = around.startOf("week");
          // maxDays = 7;
          break;
        case Units.DAY:
          component = DayView;
          // maxDays = 1;
          // weekdays = [start.dayOfWeek!];
          break;
        default:
          throw new Error(this.type + " is not a valid Calendar type");
      }
      return {
        is: component,
        class: {
          "v-calendar": true,
          "v-calendar-events": !this.noEvents,
        },
        // start,
        // end,
        // maxDays,
        // weekdays,
        ...this.$listeners,
      };
    },
    eventWeekdays(): number[] {
      return this.renderProps.weekdays;
    },
  },
  watch: {
    renderProps: "checkChange",
  },

  mounted() {
    this.updateEventVisibility();
    this.checkChange();
  },

  updated() {
    window.requestAnimationFrame(this.updateEventVisibility);
  },

  methods: {
    triggerChange() {
      this.$emit("change", {
        calendar: this.calendar,
      });
    },
    setState(state: CalendarInput) {
      // state.eventSorter = state.listTimes
      //   ? Sorts.List([Sorts.FullDay, Sorts.Start])
      //   : Sorts.Start;

      this.calendar.set(state);
      console.log(this.calendar);

      this.triggerChange();
    },
    isType(type: any, aroundDay: Day) {
      const cal = this.calendar;

      return (
        cal.type === type.type &&
        cal.size === type.size &&
        (!aroundDay || cal.span.matchesDay(aroundDay))
      );
    },

    rebuild(aroundDay: Day, force: boolean, forceType: any) {
      const type = forceType || this.currentType || this.types[2];

      if (this.isType(type, aroundDay) && !force) {
        return;
      }

      const input = {
        type: type.type,
        size: type.size,
        around: aroundDay,
        eventsOutside: true,
        preferToday: false,
        listTimes: type.listTimes,
        updateRows: type.updateRows,
        updateColumns: type.listTimes,
        fill: !type.listTimes,
        otherwiseFocus: type.focus,
        repeatCovers: type.repeat,
      };

      this.setState(input);
    },

    checkChange(): void {
      const { lastStart, lastEnd } = this;
      const { start, end } = this.renderProps;
      if (
        !lastStart ||
        !lastEnd ||
        start.date !== lastStart.date ||
        end.date !== lastEnd.date
      ) {
        this.lastStart = start;
        this.lastEnd = end;
        this.$emit("change", { start, end });
      }
    },
  },
});
</script>
<style lang="scss">
.ds-app-calendar-toolbar {
  .v-toolbar__content {
    border-bottom: 1px solid rgb(224, 224, 224);
  }
}

.ds-expand {
  width: 100%;
  height: 100%;
}

.ds-calendar {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px !important;
}

.ds-month-view {
  width: 100%;
  height: 100%;

  .ds-today {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
</style>
