<template>
  <v-card class="overflow-hidden" width="500px" max-height="700px">
    <v-app-bar
      color="grey lighten-3"
      elevate-on-scroll
      dense
      scroll-target="#menu-card-details"
    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn small class="ml-0" icon v-bind="attrs" v-on="on">
            <v-icon>mdi-menu</v-icon></v-btn
          >
        </template>
        <span class="caption">Dock to Sidebar</span>
      </v-tooltip>
      <v-toolbar-title class="caption">Add Event</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn icon @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-app-bar>
    <v-sheet id="menu-card-details" class="overflow-y-auto" max-height="400">
      <v-container class="py-0" fluid style="min-height: 100px">
        <v-list dense>
          <v-list-item two-line>
            <v-list-item-icon></v-list-item-icon>
            <v-list-item-content>
              <v-text-field
                single-line
                hide-details
                autofocus
                color="primary"
                label="Add Title"
                class="headline"
                v-model="details.title"
              ></v-text-field>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon v-text="'mdi-clock-outline'"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title
                class="subtitle-2 font-weight-regular text-capitalize grey--text text--darken-1"
                v-if="calendarEvent.time.start.sameDay(calendarEvent.time.end)"
              >
                {{ calendarEvent.time.start.format("dddd, DD MMM") }}
                <span>&nbsp;&nbsp;•&nbsp;&nbsp;</span>
                {{ calendarEvent.time.start.format("h:mma") }}
                -
                {{ calendarEvent.time.end.format("h:mma") }}
              </v-list-item-title>
              <v-list-item-subtitle
                class="text-capitalize grey--text text--darken-1 pt-0 caption"
                style="margin-top: 1px;"
              >
                <span>Time Zone</span>
                <span>&nbsp;&nbsp;•&nbsp;&nbsp;</span>
                <span
                  v-text="
                    details.recurrence.enabled
                      ? rrulestr(details.recurrence.rules[1]).toText() ||
                        details.recurrence
                      : `Doesn't Repeat`
                  "
                ></span>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon v-text="'mdi-account-multiple-outline'"></v-icon>
            </v-list-item-icon>
            <v-list-item-content class="ml-n3 mt-n2">
              <v-text-field
                class="pa-0"
                flat
                hide-details
                dense
                solo
                label="Add Guests"
                v-model="details.title"
              ></v-text-field>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-icon>
              <v-icon v-text="'mdi-map-marker-outline'"></v-icon>
            </v-list-item-icon>
            <v-list-item-content class="ml-n3 mt-n2">
              <v-text-field
                class="pa-0"
                flat
                hide-details
                dense
                solo
                label="Location"
                v-model="details.location"
              ></v-text-field>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon v-text="'mdi-message-text-outline'"></v-icon>
            </v-list-item-icon>
            <v-list-item-content class="ml-n3 mt-n2">
              <v-textarea
                class="pa-0"
                flat
                hide-details
                dense
                solo
                label="Add Description"
                single-line
                :rows="1"
                auto-grow
                :row-height="15"
                v-model="details.description"
              ></v-textarea>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon v-text="'mdi-calendar-outline'"></v-icon>
            </v-list-item-icon>
            <v-list-item-content class="ml-n3 mt-n2">
              <v-text-field
                class="pa-0"
                flat
                hide-details
                dense
                solo
                label="Calendar Choice"
                v-model="details.calendar"
              ></v-text-field>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-container>
    </v-sheet>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        text
        class="body-2 text-capitalize"
        style="font-weight: 400 !important;"
        @click="edit"
        >More Options</v-btn
      >
      <v-btn
        color="primary"
        class="body-2 text-capitalize"
        style="font-weight: 400 !important;"
        @click="save"
        >Save</v-btn
      >
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import Vue, { PropType } from "vue";
import {
  Calendar,
  EventRenderer,
  Functions as fn,
} from "altoleap-calendar-lib/src";
import { rrulestr } from "rrule";
import { mergeDeep } from "@/util/helpers";

export default Vue.extend({
  props: {
    calendarEvent: {
      required: true,
      type: EventRenderer as PropType<EventRenderer<any, any>>,
    },

    calendar: {
      required: true,
      type: Calendar,
    },

    close: {
      type: Function,
    },
  },
  data() {
    const vm = this as any;
    return {
      details: vm.buildDetails(),
    };
  },
  computed: {
    rrulestr: () => rrulestr,
  },
  methods: {
    edit() {
      const ev = this.getEvent("create-edit");
      console.log({ ev });

      this.$emit("create-edit", ev);

      this.finishEvent(ev);
    },
    save() {
      const ev = this.getEvent("creating");

      this.$emit("creating", ev);

      if (!ev.handled && ev.details && ev.calendarEvent) {
        ev.created = ev.calendarEvent.event;

        console.log({ evBefore: ev });

        this.setEventDetails(
          ev.details,
          ev.created.data,
          ev.created,
          ev.calendarEvent
        );
        console.log({ ev });

        console.log({ evAfter: ev });
        console.log(ev.created);

        if (ev.calendar) {
          ev.calendar.addEvent(ev.created);
          ev.added = true;
        }

        this.$emit("created", ev);

        if (ev.calendar && ev.refresh) {
          ev.calendar.refreshEvents();
        }

        ev.handled = true;

        this.$emit("event-create", ev.created);
      }

      this.finishEvent(ev);
    },

    setEventDetails(details: any, data: any, event: any, calendarEvent: any) {
      event.data = Vue.util.extend(data, details);
    },

    finishEvent(ev: any) {
      if (ev.close) {
        this.close();

        this.$emit("create-popover-closed", ev);
      }
    },

    buildDetails() {
      const details = this.copyEventDetails(this.calendarEvent.event.data);
      console.log({ details });

      details.title = "";

      return details;
    },

    getEvent(type: string, extra = {}) {
      return fn.extend<any>(
        {
          type: type,
          calendarEvent: this.calendarEvent,
          calendar: this.calendar,
          close: this.close,
          details: this.details,
          handled: false,
          added: false,
          refresh: true,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },
    copyEventDetails(details: any) {
      return mergeDeep({}, details);
    },
  },
});
</script>
