<template>
  <v-card class="overflow-hidden" width="500px" max-height="700px">
    <v-app-bar
      color="white"
      elevate-on-scroll
      dense
      scroll-target="#menu-card-details"
    >
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-spacer></v-spacer>

      <v-btn icon @click="edit">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <v-btn icon @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-app-bar>
    <v-sheet id="menu-card-details" class="overflow-y-auto" max-height="400">
      <v-container class="py-0" fluid>
        <v-list subheader class="py-0">
          <v-list-item three-line>
            <v-list-item-avatar>
              <v-icon small :color="details.color">mdi-solid</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title
                class="title font-weight-regular mb-n2 text-capitalize"
                v-text="details.title"
              ></v-list-item-title>

              <v-list-item-subtitle
                class="text-capitalize grey--text text--darken-1"
                v-if="calendarEvent.time.start.sameDay(calendarEvent.time.end)"
              >
                {{ calendarEvent.time.start.format("dddd, DD MMM") }}
                <span>&nbsp;&nbsp;•&nbsp;&nbsp;</span>
                {{ calendarEvent.time.start.format("h:mma") }}
                -
                {{ calendarEvent.time.end.format("h:mma") }}
              </v-list-item-subtitle>
              <v-list-item-subtitle
                class="text-capitalize grey--text text--darken-1 pt-0 caption"
                style="margin-top: 1px;"
                v-if="details.recurrence.enabled"
                v-text="
                  rrulestr(details.recurrence.rules[1]).toText() ||
                    details.recurrence
                "
              >
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <!-- if meetings integrations are on (event brite and zoom)-->
          <!-- <v-list-item>
            <v-list-item-avatar>
              <v-icon>mdi-camera</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Join meetins</v-list-item-title>
            </v-list-item-content>
          </v-list-item> -->
          <v-list-item class="my-n3 subtitle-2">
            <v-list-item-avatar>
              <v-icon>mdi-account-multiple-outline</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>adwpartiucipants</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="my-n3 subtitle-2">
            <v-list-item-avatar>
              <v-icon>mdi-text</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ details.description }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="my-n3 subtitle-2">
            <v-list-item-avatar>
              <v-icon>mdi-map-marker-outline</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ details.location }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="mt-n3 subtitle-2">
            <v-list-item-avatar>
              <v-icon>mdi-calendar</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ details.calendar }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="mt-n3 subtitle-2">
            <v-list-item-avatar>
              <v-icon>mdi-bell-outline</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ details.reminder }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-container>
    </v-sheet>
    <v-card-actions
      style="border-top: 1px solid rgb(224, 224, 224);"
      class="px-8 d-flex align-center"
    >
      <span class="subtitle-2">
        Going?
      </span>
      <v-spacer></v-spacer>

      <v-btn
        small
        text
        class="subtitle-2 mr-0"
        style="text-transform: none;"
        color="primary"
        >Yes</v-btn
      >
      <v-btn small text class="subtitle-2 mx-0" style="text-transform: none;"
        >No</v-btn
      >
      <v-btn small text class="subtitle-2 ml-0" style="text-transform: none;"
        >Maybe</v-btn
      >
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import Vue, { PropType } from "vue";
import { rrulestr } from "rrule";
import {
  Calendar,
  EventRenderer,
  CalendarOccurrence,
} from "altoleap-calendar-lib/src";
export default Vue.extend({
  props: {
    calendarEvent: {
      required: true,
      type: EventRenderer as PropType<EventRenderer<any, any>>,
    },

    calendar: {
      required: true,
      type: Calendar,
    },

    readOnly: {
      type: Boolean,
      default: false,
    },

    allowEditOnReadOnly: {
      type: Boolean,
      default: false,
    },

    edit: {
      type: Function,
    },
    close: {
      type: Function,
    },
  },

  data: () => ({
    dialog: false,
  }),

  computed: {
    rrulestr: () => rrulestr,
    slotData(): object {
      return {
        calendarEvent: this.calendarEvent,
        calendar: this.calendar,
        edit: this.edit,
        close: this.close,
        details: this.details,
        readOnly: this.readOnly,
      };
    },
    allowEdit(): boolean {
      return this.allowEditOnReadOnly || !this.isReadOnly;
    },

    isReadOnly(): boolean {
      return this.readOnly;
      // || this.details.readonly;
    },

    details(): CalendarOccurrence {
      return this.calendarEvent.event.data;
    },
  },
  // calendarEvent, calendar, edit, details, close
});
</script>
