<template>
  <div class="ds-calendar d-flex flex-column">
    <component
      v-bind:is="renderProps.is"
      v-on="$listeners"
      :class="renderProps.class"
      :calendar="renderProps.calendar"
      :events="renderProps.events"
      :placeholder="renderProps.placeholder"
      :placeholder-for-create="renderProps.placeholderForCreate"
      v-bind="{ $scopedSlots }"
      @mouse-down="mouseDown"
      @mouse-down-day="mouseDownDay"
      @mouse-down-event="mouseDownEvent"
      @mouse-down-event-bottom="mouseDownEventExtend"
      @mouse-move="mouseMove"
      @mouse-move-day="mouseMoveDay"
      @mouse-up="mouseUp"
      @mouse-up-day="mouseUp"
      @mouse-up-event="mouseUp"
      @clear-placeholder="clearPlaceholder"
    >
    </component>
  </div>
</template>

<script lang="ts">
import props from "@/util/calendar/props";
import CalendarWithEvents from "@/mixins/events";
import CalendarWithIntervals from "@/mixins/intervals";
import Vue, { PropType } from "vue";
import {
  Calendar,
  CalendarDay,
  Units,
  Day,
  Functions as fn,
  Op,
  EventRenderer,
  Constants,
  DaySpan,
  Parse,
  setPartsToUTCDate,
  Recurrence,
} from "altoleap-calendar-lib/src";
import { parseEvent, isEventOverlapping } from "@/util/newCalendar";
import MonthView from "@/components/MonthView/Index";
import WeekView from "@/components/WeekView/Index.vue";
import DayView from "@/components/DayView/Index.vue";
import YearView from "@/components/YearView/Index.vue";
import { setUTCPartsToDate } from "@/util/dateHelpers";

export const OFFSET_TIME = 10000;
export function isEventOn(event: any, dayIdentifier: number | string): boolean {
  return (
    dayIdentifier >= event.startIdentifier &&
    dayIdentifier <= event.endIdentifier &&
    parseInt(String(dayIdentifier), 10) * OFFSET_TIME !==
      event.endTimestampIdentifier
  );
}

export function isEventStart(
  event: any,
  day: CalendarDay<any, any>,
  dayIdentifier: number | string,
  firstWeekday: number
): boolean {
  return (
    dayIdentifier === event.startIdentifier ||
    (firstWeekday === day.dayOfWeek && isEventOn(event, dayIdentifier))
  );
}

export default Vue.extend({
  name: "Calendar",
  props: {
    calendar: {
      type: Calendar as PropType<Calendar<any, any>>,
    },

    events: {
      type: Array,
      default: () => [] as PropType<any[]>,
    },

    readOnly: {
      type: Boolean,
      default: false,
    },

    handleAdd: {
      type: Boolean,
      default: true,
    },

    handleMove: {
      type: Boolean,
      default: true,
    },
    useUtc: Boolean,
  },
  data: () => ({
    placeholder: (null as unknown) as EventRenderer<any, any>,
    placeholderNoTitle: "(no title)",
    placeholderForCreate: false,
    addStart: null as Day | any,
    addEnd: null as Day | any,
    readyToMove: false as boolean,
    moving: false as boolean,
    extendEvent: false as boolean,
    movingEvent: null as any,
    movingDuration: null as any,
    calendarEvents: [] as any[],
    rounding: {
      move: 1,
      add: Constants.MILLIS_IN_MINUTE * 15,
      drag: Constants.MILLIS_IN_MINUTE * 15,
    },
  }),
  computed: {
    // parsedEvents(): any[] {
    //   return this.events.map(this.parseEvent);
    // },
    renderProps(): object {
      let component: any = null;
      switch (this.type) {
        case Units.YEAR:
          component = YearView;
          break;
        case Units.MONTH:
          component = MonthView;
          break;
        case Units.WEEK:
          component = DayView;
          break;
        case Units.DAY:
          component = DayView;
          break;
        default:
          throw new Error(this.type + " is not a valid Calendar type");
      }
      return {
        is: component,
        class: {
          "v-calendar": true,
          "v-calendar-events": this.events.length,
        },
        events: this.calendarEvents,
        placeholderForCreate: this.placeholderForCreate,
        placeholder: this.placeholder,
        calendar: this.calendar,
      };
    },
    type(): Units | null {
      return this.calendar ? this.calendar.type : null;
    },

    size(): number | null {
      return this.calendar ? this.calendar.size : null;
    },

    isDay(): boolean {
      return this.type === Units.DAY;
    },

    isWeek(): boolean {
      return this.type === Units.WEEK;
    },

    isMonth(): boolean {
      return this.type === Units.MONTH;
    },

    isYear(): boolean {
      return this.type === Units.YEAR;
    },
    adding(): boolean {
      return !!(this.addStart && this.placeholder);
    },
    canAdd(): boolean {
      return (
        // this.$dayspan.features.drag &&
        this.handleAdd && !this.readOnly
        // &&        !this.$dayspan.readOnly
      );
    },

    canMove(): boolean {
      return (
        // this.$dayspan.features.move &&
        this.handleMove && !this.readOnly
        // &&        !this.$dayspan.readOnly
      );
    },
  },
  watch: {
    events: {
      handler() {
        this.refreshEvents();
      },
      deep: true,
    },
  },
  methods: {
    parseEvent(input: any, index = 0): any[] {
      const eventId = index * Constants.MAX_EVENTS_PER_DAY;
      let timeIndex = 0;
      return {
        id: eventId + timeIndex++,
        ...parseEvent(input, index, this.useUtc),
      };
    },

    getEventsForDay(day: CalendarDay<any, any>): any[] {
      const identifier = day.dayIdentifier!;
      const firstWeekday = day.startOf("week").dayOfWeek!;

      return this.calendarEvents.filter(
        (event: any) =>
          isEventStart(event, day, identifier, firstWeekday) ||
          // isEventOn(event, identifier) ||
          isEventOverlapping(
            event,
            this.calendar.start.dayIdentifier!,
            this.calendar.end.dayIdentifier!
          )
      );
    },

    refreshCurrent() {
      this.calendar.refreshCurrent(Day.today());
    },

    roundTime(day: Day, millis: number, up?: boolean) {
      const time = day.time;
      const over = time % millis;
      let relative = -over;

      if (up && relative !== 0) {
        relative += millis;
      }

      // setPartsToUTCDate(
      //             new Date(this.getRelativeTimeAt($event))
      //           ).valueOf()
      return day.relative(relative);
    },

    mouseDown(mouseEvent: { left: boolean; time: DaySpan }) {
      if (this.canAdd && mouseEvent.left) {
        console.log("mouseDown: BASE");

        const time = mouseEvent.time;
        console.log({ time });

        const ev = this.getEvent("adding", {
          mouseEvent: mouseEvent,
          placeholder: this.getPlaceholderEventForAdd(time),
        });
        this.$emit("adding", ev);

        if (!ev.handled && ev.placeholder) {
          this.addStart = time;
          this.placeholderForCreate = false;
          this.placeholder = ev.placeholder;
          this.placeholder.event.schedule.start = this.placeholder.time.start;
          this.placeholder.event.schedule.end = this.placeholder.time.end;
          // this.placeholder.row += 2;

          // this.placeholder.event.schedule = Schedule.forTime(
          //   time,
          //   time.asTime()
          // );
          this.placeholder.fullDay = false;
        }
      }
    },

    mouseDownDay(mouseEvent: any) {
      if (this.canAdd && mouseEvent.left) {
        const day = mouseEvent.day;
        const ev = this.getEvent("adding", {
          mouseEvent: mouseEvent,
          placeholder: this.getPlaceholderEventForAdd(day),
        });
        this.$emit("adding", ev);

        if (!ev.handled && ev.placeholder) {
          console.log("mouseDownDay");

          this.addStart = day;
          this.placeholderForCreate = false;
          this.placeholder = ev.placeholder;
          this.placeholder.event.schedule.start = this.placeholder.time.start;
          this.placeholder.event.schedule.start = this.placeholder.time.end;
          // this.placeholder.row += 2;

          // this.placeholder.event.schedule = Schedule.forDay(day);
          this.placeholder.fullDay = true;
        }
      }
    },

    mouseUp(mouseEvent: any) {
      if (this.addEnd) {
        this.finishAdd(mouseEvent);
      }
      if (this.moving) {
        console.log("mouse up: moving event", mouseEvent);

        this.finishMove(mouseEvent);
      }
      this.readyToMove = false;
    },

    finishAdd(mouseEvent: any) {
      const ev = this.getEvent("added", {
        mouseEvent: mouseEvent,
        placeholder: this.placeholder,
        span: this.placeholder.time,
      });
      // console.log({ ev });

      this.$emit("added", ev);
      if (!ev.handled) {
        ev.clearPlaceholder();
      }
      this.endAdd();
    },

    finishMove(mouseEvent: any) {
      const target = this.placeholder.time;
      const source = this.movingEvent.calendarEvent.time;
      const sameTime =
        target.start.sameMinute(source.start) &&
        target.end.sameMinute(source.end);
      const sameDay = target.start.sameDay(source.start);
      const isDay = mouseEvent.type === "mouse-up-day";
      console.log("moved", { isDay }, { sameDay }, { sameTime });

      if ((isDay && !sameDay) || (!isDay && !sameTime)) {
        const ev = this.getEvent("moved", {
          mouseEvent: mouseEvent,
          movingEvent: this.movingEvent,
          calendarEvent: this.movingEvent.calendarEvent,
          target: this.placeholder.time,
        });
        this.$emit("moved", ev);
        if (!ev.handled) {
          ev.clearPlaceholder();
        }
      } else {
        this.clearPlaceholder();
      }
      this.endMove();
    },

    mouseMoveDay(mouseEvent: any) {
      if (this.adding && mouseEvent.left) {
        this.addEnd = mouseEvent.day;
        const min = this.addStart.min(this.addEnd);
        const max = this.addStart.max(this.addEnd);
        this.placeholder.day = min.startOf("day");
        this.placeholder.time.start = min;
        this.placeholder.time.end = max.endOf("day");
        // this.placeholder.event.schedule.start = min;
        // this.placeholder.event.schedule.start = this.placeholder.time.end;
        // this.placeholder.placeholder = true;
        console.log("MouseMoveDay");
        // this.calendar.refreshEvents();

        // this.placeholder.event.schedule = Schedule.forDay(
        //   this.placeholder.start,
        //   this.placeholder.time.days(Op.UP)
        // );
        console.log(this.calendar.events.length);
        // this.placeholder.day.events.push({ place });
        // this.calendar.eventsForDay(this.placeholder.day);

        this.updatePlaceholderRow(this.placeholder);
        // this.calendar.iterateDays().each((day) => {
        //   if (this.placeholder.time.matchesDay(day)) {
        //     // day.events.push(this.placeholder);
        //     console.log(day.events);
        //   }
        // });
      }
      this.mouseMoveCheckReady();
      if (this.moving) {
        const day = mouseEvent.day;
        this.placeholder.day = day;
        this.placeholder.time.start = day;
        this.placeholder.time.end = day
          .next(this.placeholder.event.duration())
          .endOf("day");
        this.updatePlaceholderRow(this.placeholder);
      }
      this.mouseMoveCheckEnd(mouseEvent);
    },

    mouseMove(mouseEvent: {
      time: Day;
      timeDrag: Day;
      left: boolean;
      right: boolean;
      handled: boolean;
    }) {
      if (this.adding && mouseEvent.left) {
        this.addEnd = mouseEvent.timeDrag;
        const min = this.addStart.min(this.addEnd);
        const max = this.addStart.max(this.addEnd);
        this.placeholder.day = min.startOf("day");
        this.placeholder.time.start = min;
        // cannot creat event that spanes multiple days from week day view (interval section)
        if (
          !max.isAfter(mouseEvent.time.endOf("day")) &&
          !min.isBefore(max.startOf("day"))
        ) {
          this.placeholder.time.end = max;
        }
        console.log("MouseMove: ADDING EVENT");

        // this.placeholder.event.schedule = Recurrence.forSpan(
        // this.placeholder.event.schedule = new Recurrence(
        //   this.placeholder.event.data
        // );
        this.placeholder.event.schedule.start = this.placeholder.time.start;
        this.placeholder.event.schedule.end = this.placeholder.time.end;
        console.log(this.placeholder.event.schedule);
      }
      this.mouseMoveCheckReady();
      if (this.moving) {
        // console.log("MouseMove: MOVING EVENT", { mouseEvent });

        console.log({ OFFSET: this.movingEvent.offset });

        let time = mouseEvent.time;
        if (this.extendEvent) {
          time = this.roundTime(time, this.rounding.drag);
          this.placeholder.day = time.startOf("day");
          // this.placeholder.time.start = time;
          if (this.placeholder.time.start.isSameOrAfter(time)) {
            time = this.placeholder.time.start.add("minute", 15);
          }
          this.placeholder.time.end = time;

          // .relative(this.movingDuration);
        } else {
          // No need to offset time if not using timezones: this is stupid
          // time = time.relative(-this.movingEvent.offset);

          time = this.roundTime(time, this.rounding.drag);
          this.placeholder.day = time.startOf("day");
          this.placeholder.time.start = time;
          this.placeholder.time.end = time.relative(this.movingDuration);
        }
      }
      this.mouseMoveCheckEnd(mouseEvent);
    },

    mouseMoveCheckEnd(mouseEvent: any) {
      if (this.moving && !mouseEvent.left && !this.placeholderForCreate) {
        this.endMove();
        this.clearPlaceholder();
      }
      if (this.adding && !mouseEvent.left && !this.placeholderForCreate) {
        this.endAdd();
        this.clearPlaceholder();
      }
    },

    mouseDownEventExtend(mouseEvent: { left: boolean }) {
      if (this.canMove && mouseEvent.left) {
        console.log({ mouseEvent });
        this.readyToMove = true;
        this.extendEvent = true;
        this.movingEvent = mouseEvent;
      }
    },

    mouseDownEvent(mouseEvent: { left: boolean }) {
      if (this.canMove && mouseEvent.left) {
        this.readyToMove = true;
        this.extendEvent = false;
        this.movingEvent = mouseEvent;
        console.log({ mouseEvent });
      }
    },

    mouseMoveCheckReady() {
      if (this.readyToMove) {
        const moveEvent = this.movingEvent;
        const calendarEvent = moveEvent.calendarEvent;
        const ev = this.getEvent("moving", {
          calendarEvent: calendarEvent,
          moveEvent: moveEvent,
          placeholder: this.getPlaceholderEventForMove(calendarEvent),
        });
        this.$emit("moving", ev);
        if (!ev.handled && ev.placeholder) {
          this.moving = true;
          this.movingDuration = calendarEvent.time.millis();
          this.placeholderForCreate = false;
          this.placeholder = ev.placeholder;
        }
        this.readyToMove = false;
      }
    },

    endMove() {
      this.moving = false;
      this.extendEvent = false;
      this.movingEvent = null;
    },

    endAdd() {
      this.addStart = null;
      this.addEnd = null;
    },

    updatePlaceholderRow(placeholder: EventRenderer<any, any>) {
      let row = 0;
      const reducer = (
        maxRow: number,
        calendarEvent: EventRenderer<any, any>
      ) => {
        console.log("GET ROW", { calendarEvent }, { maxRow });
        // console.log("GET ROW", Math.max(calendarEvent.row + 1, maxRow));

        return Math.max(calendarEvent.row + 1, maxRow);
      };
      this.calendar.iterateDays().each((day) => {
        if (placeholder.time.matchesDay(day)) {
          // not working due to chjanges in iterates library

          // row = day.iterateEvents().reduce(
          //   row,
          //   (calendarEvent, row) => Math.max(calendarEvent.row + 2, row),
          //   //(row) => row !== placeholder.row
          //   (calendarEvent) => calendarEvent.event !== placeholder.event
          // );

          row = day.events.reduce(reducer, row);
        }
      });
      placeholder.row = row;
      // += this.calendar.type === Units.WEEK ? 1 : 0;
    },

    addPlaceholder(day: any, fullDay: any, forUpdate: boolean) {
      const placeholder = this.getPlaceholderEventForAdd(day);
      const time = placeholder.time;
      if (fullDay) {
        time.end = time.end.endOf("day");

        placeholder.event.schedule.start = time.start.startOf("day");
        placeholder.event.schedule.end = time.end;
        placeholder.fullDay = true;
      } else {
        placeholder.time.start = time.start;
        placeholder.time.end = time.start.add("hour", 1);
        placeholder.event.schedule.start = time.start;
        placeholder.event.schedule.end = time.start.add("hour", 1);
        placeholder.fullDay = false;
        // return;
      }
      this.updatePlaceholderRow(placeholder);
      // this.calendar.withUpdateRows(true);
      this.placeholder = placeholder;
      this.placeholderForCreate = !forUpdate;
    },

    getPlaceholderEventForMove(original: EventRenderer<any, any>) {
      const placeholder = new EventRenderer(
        original.id,
        original.event,
        original.time,
        original.day
      );
      console.log({ original });

      placeholder.time = new DaySpan(original.start, original.end);
      placeholder.col = 0;
      placeholder.row = 0;

      return placeholder;
    },

    clearPlaceholder() {
      this.placeholder = null;
      this.placeholderForCreate = false;
    },

    getEvent(type: string, extra = {}): any {
      return fn.extend(
        {
          type: type,
          calendar: this.calendar,
          clearPlaceholder: this.clearPlaceholder,
          handled: false,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },
    refreshEvents() {
      // this.calendarEvents = this.parsedEvents;
      // this.refreshRows();
      this.refreshColumns();
    },
    // refreshRows() {
    //   type EventToRowMap = { [id: number]: number };
    //   type UsedMap = { [row: number]: boolean };

    //   const onlyFullDay: boolean = false;
    //   let eventToRow: EventToRowMap = {};

    //   this.calendar.iterateDays().each((day) => {
    //     // this.calendarEvents.forEach((event) => {
    //     // console.log(this.getEventsForDay(day));
    //     // console.log({ day });

    //     // this.getEventsForDay(day).forEach((event) => {
    //     // console.log(day.date, event);

    //     if (day.dayOfWeek === 0) {
    //       eventToRow = {};
    //     }

    //     const used: UsedMap = {};

    //     for (const event of day.events) {
    //       if (onlyFullDay && !event.fullDay) {
    //         continue;
    //       }

    //       if (event.id in eventToRow) {
    //         used[(event.row = eventToRow[event.id])] = true;
    //       }
    //     }

    //     let rowIndex: number = 0;

    //     for (const event of day.events) {
    //       if ((onlyFullDay && !event.fullDay) || event.id in eventToRow) {
    //         continue;
    //       }

    //       while (used[rowIndex]) {
    //         rowIndex++;
    //       }

    //       eventToRow[event.id] = event.row = rowIndex;

    //       rowIndex++;
    //       // console.log("ROW: ", event.row);
    //     }
    //   });
    //   // });
    //   // return event

    //   return this;
    // },

    refreshColumns() {
      interface Marker {
        time: number;
        event: any;
        start: boolean;
        parent: Marker | null;
      }

      this.calendar.iterateDays().each((d) => {
        // this.calendarEvents.forEach((event: any) => {
        const markers: Marker[] = [];

        for (const event of d.events) {
          if (!event.fullDay) {
            markers.push({
              event,
              time: event.time.start.time,
              start: true,
              parent: null,
            });

            markers.push({
              event,
              time: event.time.end.time - 1,
              start: false,
              parent: null,
            });
          }
        }

        markers.sort((a, b) => {
          return a.time - b.time;
        });

        let parent = null;

        for (const marker of markers) {
          if (marker.start) {
            marker.parent = parent;
            parent = marker;
          } else if (parent) {
            parent = parent.parent;
          }
        }

        for (const marker of markers) {
          if (marker.start) {
            marker.event.col = marker.parent ? marker.parent.event.col + 1 : 0;
          }
        }
      });

      return this;
    },

    getDefaultEventDetails() {
      return {
        title: "",
        description: "",
        location: "",
        color: this.$vuetify.theme.currentTheme.primary,
        forecolor: "#ffffff",
        calendar: "",
        busy: true,
        icon: "mdi-calendar",
        date: {
          start: new Day(new Date()).format("YYYY-MM-DD HH:mm:ss"),
          end: new Day(new Date()).add("hour", 1).format("YYYY-MM-DD HH:mm:ss"),
        },
        recurrence: {
          enabled: false,
          rules: [],
        },
      };
    },

    getPlaceholderEventDetails() {
      const details = this.getDefaultEventDetails();

      details.title = this.placeholderNoTitle;

      return details;
    },

    createEvent(details: any, forPlaceholder: boolean) {
      return Parse.event(details);
    },

    // this should make api calls
    getPlaceholderEventForAdd(time: any): EventRenderer<any, any> {
      const details = this.getPlaceholderEventDetails();
      // const schedule = new Schedule({})
      const id = time.timeIdentifier;
      const event = this.createEvent(details, true);
      const span = DaySpan.point(time);
      const day = time;
      console.log(new EventRenderer(id, event, span, day));

      return new EventRenderer(id, event, span, day);
    },
  },
  mounted() {
    // this.updateEventVisibility();
    if (this.events.length) {
      this.calendar.refreshEvents();
    }
    console.log(this.$refs);
  },
  updated() {
    // console.log("updated");
    // this.refreshEvents();
    // this.calendar.setEvents(this.events, false);
    // window.requestAnimationFrame(this.updateEventVisibility);
  },
});
</script>

<style scoped lang="scss">
.ds-calendar {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  padding: 0px !important;
}
</style>
