<template>
  <div v-ripple ref="events" class="v-events v-event-timed-container">
    <v-menu :disabled="!hasPopover" v-model="menu" v-bind="popoverProps">
      <template v-slot:activator="{ on }">
        <div
          class="v-event v-event-timed elevation-3 v-ripple"
          @click.stop="editCheck"
          v-on="on"
          @mouseenter="mouseEnterEvent"
          @mouseleave="mouseLeaveEvent"
          @mousedown="mouseDownEvent"
          @mouseup="mouseUpEvent"
          v-bind="
            setTextColor(
              'white',
              setBackgroundColor(background, {
                style: style,
              })
            )
          "
        >
          <div class="pl-1" v-html="eventSummary"></div>
          <div
            class="v-event-drag-bottom"
            @mousedown="mouseDownEventBottom"
          ></div>
          <!-- <div>{{ calendarEvent.time.start.format("HH:mm:ssA") }}</div> -->
        </div>
      </template>
      <slot
        name="eventPopover"
        v-bind="{ calendarEvent, calendar, edit, details, close }"
      >
      </slot>
    </v-menu>
  </div>
</template>
<script lang="ts">
import Vue from "vue";

// UTILS
import mixins from "@/util/mixins";
import {
  Day,
  CalendarDay,
  Calendar,
  Constants,
  CalendarOccurrence,
  EventRenderer,
  Event,
  Functions as fn,
  setPartsToUTCDate,
} from "altoleap-calendar-lib/src";

// MIXINS
import colorable from "@/mixins/colorable";
import intervals from "@/mixins/intervals";
import events from "@/mixins/events";

// FUNCTIONS
export function diffMinutes(min: Day, max: Day) {
  const Y = (max.year - min.year) * 525600;
  const M = (max.month - min.month) * 43800;
  const D = (max.day - min.day) * 1440;
  const h = (max.hour - min.hour) * 60;
  const m = max.minute - min.minute;

  return Y + M + D + h + m;
}
export default mixins(colorable, events).extend({
  props: {
    calendarEvent: {
      required: true,
      type: EventRenderer,
    },
    day: {
      required: true,
      type: Day,
    },

    calendar: {
      required: true,
      type: Calendar,
    },
    isPlaceholderWithDay: {
      type: Day,
    },
    popoverProps: {
      type: Object,
      default() {
        return {
          nudgeWidth: 200,
          closeOnContentClick: false,
          offsetOverflow: true,
          offsetX: true,
          maxWidth: 500,
        };
      },
    },
  },
  data: () => ({
    menu: false,
  }),
  computed: {
    dayHeight(): number {
      return this.$altoleapCalendar.bodyHeight;
    },
    hasPopover() {
      return !!this.$scopedSlots.eventPopover;
    },
    details(): CalendarOccurrence {
      return this.calendarEvent.event.data;
    },

    eventColorFunction(): any {
      return typeof this.eventColor === "function"
        ? this.eventColor
        : () => this.eventColor as string;
    },
    background(): string {
      return this.details.color ?? this.eventColorFunction(this.details);
    },
    style(): object {
      return this.isPlaceholderWithDay
        ? this.getStylePlaceholderTimed(
            this.details,
            this.calendarEvent,
            this.isPlaceholderWithDay
          )
        : this.getStyleTimed(this.details, this.calendarEvent);
    },

    overlapsNoon(): boolean {
      return (
        this.calendarEvent.start.hour < 12 && this.calendarEvent.end.hour >= 12
      );
    },
    singleLine(): boolean {
      return (
        diffMinutes(this.calendarEvent.start, this.calendarEvent.end) <=
        this.parsedEventOverlapThreshold
      );
    },

    timeSummary(): string {
      return (
        this.formatTime(this.calendarEvent.start, this.overlapsNoon) +
        " - " +
        this.formatTime(this.calendarEvent.end, true)
      );
    },
    eventSummary(): string | boolean {
      const name = this.details.title;

      if (this.calendarEvent.time.start.format("hh:mm") !== "00:00") {
        // console.log(this.calendarEvent.event.data);

        if (this.details.date.end) {
          const time = this.timeSummary;
          const delimiter = this.singleLine ? ", " : "<br>";

          return `<strong>${name}</strong>${delimiter}${time}`;
        } else {
          const time = this.formatTime(this.calendarEvent.time.start, true);

          return `<strong>${time}</strong> ${name}`;
        }
      }

      return name;
    },
  },
  methods: {
    close() {
      this.menu = false;
    },
    formatTime(withTime: Day, ampm: boolean): string {
      return withTime.format(
        `h${withTime.minute > 0 ? ":mm" : ""}${ampm ? "a" : ""}`
      );
    },
    getStyleTimed(details: any, calendarEvent: EventRenderer<any, any>) {
      const past = calendarEvent.time.end.isBefore(this.times.now);
      const bounds = calendarEvent.getTimeBounds(this.dayHeight, 1, 10);

      return {
        top: bounds.top - 1 + "px",
        height: bounds.height + "px",
        left: bounds.left + "%",
        width: 100 - bounds.left + "%",
      };
    },
    getStylePlaceholderTimed(
      details: any,
      calendarEvent: EventRenderer<any, any>,
      forDay: Day
    ) {
      const past = calendarEvent.time.end.isBefore(this.times.now);
      const bounds = calendarEvent.time.getBounds(
        forDay,
        this.dayHeight,
        1,
        10
      );

      return {
        top: bounds.top - 1 + "px",
        height: bounds.height + "px",
        left: "0px",
        right: "0px",
        marginRight: "-1px",
        width: 100 - bounds.left + "%",
      };
    },
    edit() {
      if (this.handlesEvents()) {
        this.$emit("edit", this.calendarEvent);
      }
    },

    editCheck($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        console.log({ SCOPED_SLOTS: this.$scopedSlots });

        console.log({ HAS_POPOVER_EVENT: this.hasPopover });

        if (!this.hasPopover) {
          this.edit();
        } else {
          this.menu = !this.menu;
        }
      }
    },
    mouseEnterEvent($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        console.log(this.getEvent("mouse-enter-event: TIME", $event));

        this.$emit(
          "mouse-enter-event",
          this.getEvent("mouse-enter-event", $event)
        );
      }
    },

    mouseLeaveEvent($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        this.$emit(
          "mouse-leave-event",
          this.getEvent("mouse-leave-event", $event)
        );
      }
    },

    mouseDownEvent($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        this.$emit(
          "mouse-down-event",
          this.getEvent("mouse-down-event", $event)
        );
      }
      console.log(this.getEvent("mouse-down-event", $event));
    },

    mouseDownEventBottom($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        this.$emit(
          "mouse-down-event-bottom",
          this.getEvent("mouse-down-event-bottom", $event)
        );
      }
      console.log(this.getEvent("mouse-down-event-bottom", $event));
    },

    mouseUpEvent($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        this.$emit("mouse-up-event", this.getEvent("mouse-up-event", $event));
      }
    },

    handlesEvents($event?: MouseEvent) {
      const handles = !this.isPlaceholderWithDay;

      if (handles && $event) {
        $event.stopPropagation();
      }

      return handles;
    },

    getEvent(type: string, $event: MouseEvent, extra = {}) {
      return fn.extend(
        {
          type: type,
          calendarEvent: this.calendarEvent,
          calendar: this.calendar,
          details: this.details,
          // convert to utc time to match current time
          // offset: setPartsToUTCDate(
          //   new Date(this.getRelativeTimeAt($event))
          // ).valueOf(),
          // Is there a need to offset time?!?!
          offset: this.getRelativeTimeAt($event),
          left: $event.button === 0,
          right: $event.button === 1,
          handled: false,
          $event: $event,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },
    getRelativeTimeAt($event: MouseEvent) {
      const bounds = this.$el.getBoundingClientRect();
      const y = ($event.clientY - bounds.y) / this.dayHeight;
      const millis = y * Constants.MILLIS_IN_DAY;

      return millis;
    },
  },
});
</script>
<style lang="sass" scoped>
@import './events/calendar-events.sass'
.v-event-drag-bottom
  position: absolute
  left: 0
  right: 0
  bottom: 4px
  height: 4px
  cursor: ns-resize

  &::after
    display: none
    position: absolute
    left: 50%
    height: 4px
    border-top: 1px solid white
    border-bottom: 1px solid white
    width: 16px
    margin-left: -8px
    opacity: 0.8
    content: ''

  &:hover::after
    display: block
</style>
