<template>
  <v-dialog
    v-model="open"
    fullscreen
    @keydown.esc="cancel"
    hide-overlay
    no-click-animation
    persistent
    transition="dialog-bottom-transition"
  >
    <v-card
      v-if="details"
      class="d-flex flex-column"
      min-height="100%"
      height="100%"
    >
      <div
        style="flex: none;
    padding-bottom: 16px;"
      >
        <v-toolbar color="transparent" flat class="my-2">
          <v-btn
            icon
            @click="cancel"
            class="ml-2 mr-n1"
            style="
              -webkit-flex-shrink: 0;
              flex-shrink: 0;
              margin-right: 0;
              margin-top: 4px;
              height: 40px;
              width: 40px;"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title
            class="mr-2"
            style="width: calc(578px + (100% - 1049px)*0.16666667);
                vertical-align: top;"
            ><v-text-field
              class="headline font-weight-regular py-2 pl-1"
              label="Title"
              style="width: 100%"
              placeholder="No Title"
              v-model="details.title"
              hide-details
              single-line
              autofocus
            ></v-text-field
          ></v-toolbar-title>
          <v-btn
            color="primary text-capitalize ml-2"
            style="flex-shrink: 0;"
            @click="cancel"
            >Save</v-btn
          >

          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn class="mx-2 text-capitalize" v-on="on" depressed>
                More Options
                <v-icon right small>mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list dense>
              <v-list-item @click="() => {}">
                <v-list-item-title class="body-2 font-weight-regular">
                  Delete
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <v-spacer></v-spacer>
          <!-- <core-avatar /> -->
        </v-toolbar>
        <div class="d-flex align-center second-toolbar" v-if="details.date">
          <div class="d-flex space-filler"></div>
          <div style="second-toolbar-row">
            <div>
              <div class="d-flex flex-row secondary-row">
                <!-- date time timezone component -->
                <div class="d-flex flex-row align-center">
                  <div
                    class="mr-1"
                    style="width: 79px; height: 36px; background-color: #f1f3f4;"
                  >
                    start date
                  </div>
                  <div
                    class="mr-1"
                    style="width: 48px; height: 36px; background-color: #f1f3f4;"
                  >
                    styart time
                  </div>
                  <div
                    class="mr-1"
                    style="
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;"
                  >
                    to
                  </div>
                  <div
                    class="mr-1"
                    style="width: 79px; height: 36px; background-color: #f1f3f4;"
                  >
                    end date
                  </div>
                  <div
                    class="mr-x"
                    style="width: 48px; height: 36px; background-color: #f1f3f4;"
                  >
                    end time
                  </div>
                </div>
                <!-- date time timezone component -->
              </div>
              <div class="d-flex flex-row secondary-row">
                <div class="py-1 d-flex flex-row align-center">
                  <v-checkbox
                    v-model="allDay"
                    label="All Day"
                    color="primary"
                    hide-details
                  ></v-checkbox>
                  <!-- recurrence selecter component -->
                  <recurrence-selector
                    :start="details.date.start"
                    v-model="details.recurrence.rules"
                    use-custom
                  >
                  </recurrence-selector>
                  <!-- {{
                    [
                      details.recurrence.rules
                        ? details.recurrence.rules.toString()
                        : "No rule",
                    ]
                  }} -->
                  <!-- {{ details.date }} -->
                  <!-- recurrence selecter component -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <v-container fluid>
        <v-card-title>
          <span class="headline">User Profile</span>
        </v-card-title>
      </v-container>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="open = false">Close</v-btn>
        <v-btn color="blue darken-1" text @click="open = false">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import {
  Calendar,
  Recurrence,
  Identifier,
  Functions as fn,
  CalendarDay,
  EventRenderer,
  Day,
  TimeInput,
  setUTCPartsToDate,
  DaySpan,
  Parse,
} from "altoleap-calendar-lib/src";

import Vue from "vue";
import { cloneDeep } from "lodash";
export default Vue.extend({
  props: {
    calendar: {
      type: Calendar,
    },

    readOnly: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    allDay: false,
    open: false,
    details: {
      recurrence: [],
    } as any,
    day: null as Day | any,
    calendarEvent: null as any,
    schedule: null as any,
  }),
  watch: {
    $route: {
      handler({ name }) {
        // if (name === "calendarEventEdit") {
        //   this.addToday();
        // }
      },
      immediate: true,
    },
  },
  computed: {},
  methods: {
    addToday() {
      this.add(this.$altoleapCalendar.today);
    },

    add(day: Day, days = 1) {
      this.addSchedule(day);
    },

    addAt(day: Day, hour?: TimeInput) {
      this.addSchedule(day);
    },

    addSpan(span: DaySpan) {
      this.addSchedule(span.start);
    },

    edit(calendarEvent: EventRenderer<any, any>) {
      console.log(calendarEvent);
      this.day = calendarEvent.start;
      this.calendarEvent = calendarEvent;
      this.details = cloneDeep(calendarEvent.event.data);
      // || this.$dayspan.getDefaultEventDetails();
      this.schedule = calendarEvent.schedule;

      this.finishOpen();
    },

    addPlaceholder(placeholder: EventRenderer<any, any>, details?: any) {
      this.addSchedule(
        placeholder.day,
        placeholder.schedule,
        details || placeholder.event.data
      );
    },

    addSchedule(day: Day, schedule?: any, details?: any) {
      this.day = day;
      this.calendarEvent = null;
      this.details = details || this.getDefaultEventDetails();
      this.schedule = schedule || this.getDefaultEventDetails();

      this.finishOpen();
    },
    getDefaultEventDetails() {
      return {
        title: "",
        description: "",
        location: "",
        color: this.$vuetify.theme.currentTheme.primary,
        forecolor: "#ffffff",
        calendar: "",
        busy: true,
        icon: "mdi-calendar",
        date: {
          start: new Day(setUTCPartsToDate(new Date())).format(
            "YYYY-MM-DD HH:mm:ss"
          ),
          end: new Day(setUTCPartsToDate(new Date()))
            .add("hour", 1)
            .format("YYYY-MM-DD HH:mm:ss"),
        },
        recurrence: {
          enabled: false,
          rules: [],
        },
      };
    },
    //  actioned(ev) {
    //     this.$emit("actioned", ev);
    //     ev.hide = true;
    //     this.$emit("actioned", ev);
    //     this.finishClose(ev);
    //   },

    finishOpen() {
      const ev = this.getEvent("open");

      this.$emit("open", ev);

      if (ev.open) {
        this.open = true;
      }
    },

    eventCreate(ev: any) {
      this.$emit("event-create", ev);
    },

    eventUpdate(ev: any) {
      this.$emit("event-update", ev);
    },

    eventRemove(ev: any) {
      this.$emit("event-remove", ev);
    },
    actioned(ev: any) {
      ev.hide = true;
      this.$emit("actioned", ev);
      this.finishClose(ev);
    },

    cancel() {
      const ev = this.getEvent("cancel");
      ev.hide = true;
      this.$emit("cancel", ev);
      this.finishClose(ev);
    },

    saved(ev: any) {
      ev.hide = true;
      this.$emit("saved", ev);
      this.finishClose(ev);
    },
    finishClose(ev: any) {
      if (ev.hide) {
        this.open = false;
        // this.$router.push({ name: "Calendar" });
        this.$emit("close", ev);
      }

      this.calendarEvent = null;
      this.day = null;
      // this.schedule = null;
      this.details = null;
    },
    getEvent(type: string, extra = {}): any {
      return fn.extend(
        {
          type: type,
          day: this.day,
          schedule: this.schedule, //tbr
          calendar: this.calendar,
          calendarEvent: this.calendarEvent,
          handled: false,
          open: true,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },
  },
});
</script>
<style lang="scss">
.second-toolbar {
  width: 100%;
  position: relative;
  min-height: 40px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.second-toolbar-row {
  color: #3c4043;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 6px;
  padding-top: 6px;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.secondary-row {
  width: 100%;
  position: relative;
  min-height: 40px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-align-items: center;
  align-items: center;
  outline: none;
}

.space-filler {
  width: 84px;
  padding-left: 16px;
  max-height: 40px;
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  align-self: stretch;
}
</style>
