<template>
  <v-menu
    class="ds-calendar-event-menu"
    :disabled="!hasPopover"
    v-model="menu"
    :close-on-click="false"
    allow-overflow
    v-bind="popoverProps"
    @keyup.esc="close"
    origin="center"
    :left="left"
    :right="!left"
    ref="calendarEventPlaceholder"
  >
    <template v-slot:activator="{ on }">
      <calendar-event
        ref="events"
        v-bind="{ $scopedSlots }"
        v-on="{ on }"
        :calendar-event="placeholder"
        :is-placeholder-with-day="day"
        :day="day"
        :week="week"
        :index="index"
        :calendar="calendar"
      >
      </calendar-event>
    </template>

    <slot
      name="eventCreatePopover"
      v-bind="{ placeholder, calendar, day, index, close }"
    >
    </slot>
  </v-menu>
</template>
<script lang="ts">
import Vue, { PropType } from "vue";

// UTILS
import mixins from "@/util/mixins";
import {
  Day,
  CalendarDay,
  Calendar,
  Constants,
  Functions as fn,
  DaySpan,
} from "altoleap-calendar-lib/src";

// MIXINS
import colorable from "@/mixins/colorable";
import intervals from "@/mixins/intervals";
import events from "@/mixins/events";
import { EventRenderer, Event } from "altoleap-calendar-lib/src";

// FUNCTIONS
const WIDTH_FULL = 100;
const WIDTH_START = 95;
const MINUTES_IN_DAY = 1440;
export default mixins(colorable, events).extend({
  props: {
    day: {
      required: false,
      type: CalendarDay,
    },
    week: {
      required: false,
      type: Array as PropType<CalendarDay<any, any>[]>,
    },

    placeholder: {
      required: true,
      type: EventRenderer,
    },

    placeholderForCreate: {
      type: Boolean,
      default: false,
    },

    calendar: {
      required: true,
      type: Calendar,
    },

    index: {
      required: false,
      type: Number,
      default: 0,
    },

    isPlaceholderWithDay: {
      type: Day,
    },

    popoverProps: {
      default() {
        return {
          nudgeWidth: 400,
          closeOnContentClick: false,
          offsetOverflow: true,
          offsetX: true,
          width: 400,
          maxWidth: 420,
        };
      },
    },
  },
  data: () => ({
    menu: false,
    left: false,
  }),
  computed: {
    "data-date"(): string {
      return this.day.format("YYYY-MM-DD");
    },
    hasPopover(): boolean {
      return !!this.$scopedSlots.eventPopover;
    },
    isStart(): boolean {
      return this.placeholder.day.sameDay(this.day);
    },

    autoOpen(): boolean {
      return this.hasPopover && this.placeholderForCreate && this.isStart;
    },
  },
  watch: {
    menu: "triggerClearPlaceholder",
    placeholderForCreate: "openPopover",
  },
  updated() {
    const ref = this.$refs.calendarEventPlaceholder as any;
    function getOffsetLeft(elem: any) {
      let offsetLeft = 0;
      do {
        if (!isNaN(elem.offsetLeft)) {
          offsetLeft += elem.offsetLeft;
        }
      } while ((elem = elem.offsetParent));
      return offsetLeft;
    }
    const isLeft = getOffsetLeft(ref.getActivator()) > 960;
    ref.updateDimensions();
    this.left = isLeft;
  },
  methods: {
    close() {
      this.menu = false;
    },

    openPopover(open: boolean) {
      if (this.isStart) {
        this.menu = open;
      }
    },

    triggerClearPlaceholder(open: boolean) {
      console.log({ placeholder: this.placeholder });
      console.log({ hasPopover: this.hasPopover });
      if (!open) {
        this.$emit("clear-placeholder");
      }
    },
  },
  mounted() {},
});
</script>
<style lang="sass" scoped>
@import './events/calendar-events.sass'
.ds-calendar-event-menu
  width: 100%
  height: 18px
  position: relative

  .v-event
    height: 100%
</style>
