<template>
  <v-menu
    class="ds-calendar-event-placeholder"
    :disabled="!hasPopover"
    v-model="menu"
    :close-on-click="false"
    allow-overflow
    v-bind="popoverProps"
    :left="left"
    :right="!left"
    @keydown.esc="close"
    origin="center"
    ref="calendarEventTimePlaceholder"
  >
    <template v-slot:activator="{ on }">
      <calendar-event-time
        ref="events"
        v-on="on"
        v-bind="{ $scopedSlots }"
        :calendar-event="placeholder"
        :is-placeholder-with-day="day"
        :day="day"
        :calendar="calendar"
      >
      </calendar-event-time>
    </template>
    <!-- <slot v-bind:eventCreatePopover="{ placeholder, calendar, day, close }"></slot>-->
    <slot
      name="eventCreatePopover"
      v-bind="{ placeholder, calendar, day, close }"
    >
    </slot>
  </v-menu>
</template>
<script lang="ts">
import Vue from "vue";

// UTILS
import mixins from "@/util/mixins";
import {
  Day,
  CalendarDay,
  Calendar,
  Constants,
} from "altoleap-calendar-lib/src";

// MIXINS
import colorable from "@/mixins/colorable";
import intervals from "@/mixins/intervals";
import events from "@/mixins/events";
import {
  EventRenderer,
  Event,
  Functions as fn,
} from "altoleap-calendar-lib/src";

// FUNCTIONS

export default mixins(colorable, events).extend({
  props: {
    // calendarEvent: {
    //   required: true,
    //   type: Object,
    // },
    placeholder: {
      required: true,
      type: EventRenderer,
    },
    day: {
      required: true,
      type: Day,
    },

    calendar: {
      required: true,
      type: Calendar,
    },
    isPlaceholderWithDay: {
      type: Day,
    },

    placeholderForCreate: {
      type: Boolean,
      default: false,
    },
    popoverProps: {
      default() {
        return {
          nudgeWidth: 200,
          closeOnContentClick: false,
          offsetOverflow: true,
          offsetX: true,
          // offsetY: false,
          width: 400,
          maxWidth: 420,
        };
      },
    },
  },
  data: () => ({
    menu: false,
    left: false,
  }),
  computed: {
    hasPopover(): any {
      return !!this.$scopedSlots.eventPopover;
    },
    isStart(): boolean {
      return this.placeholder.day.sameDay(this.day);
    },

    autoOpen(): boolean {
      return this.hasPopover && this.placeholderForCreate && this.isStart;
    },
  },
  watch: {
    menu: {
      handler(val: boolean) {
        this.triggerClearPlaceholder(val);
      },
    },
    placeholderForCreate: "openPopover",
  },
  mounted() {
    if (this.autoOpen) {
      this.menu = true;
    }
  },
  updated() {
    const ref = this.$refs.calendarEventTimePlaceholder as any;
    function getOffsetLeft(elem: any) {
      let offsetLeft = 0;
      do {
        if (!isNaN(elem.offsetLeft)) {
          offsetLeft += elem.offsetLeft;
        }
      } while ((elem = elem.offsetParent));
      return offsetLeft;
    }
    const isLeft = getOffsetLeft(ref.getActivator()) > 960;
    ref.updateDimensions();
    this.left = isLeft;
  },

  methods: {
    close() {
      this.menu = false;
    },

    openPopover(open: boolean) {
      // console.log({ open });
      if (this.isStart) {
        this.menu = open;
      }
    },

    triggerClearPlaceholder(open: boolean) {
      // console.log(ref.getActivator().offsetLeft);

      if (!open) {
        this.$emit("clear-placeholder");
      }
    },
  },
});
</script>
<style lang="sass" scoped>
@import './events/calendar-events.sass'

.ds-calendar-event-placeholder
  position: absolute
  right: 0px
  left: 0px
  top: 0px
  padding: 0
  margin: 0
</style>
