<template>
  <div class="v-events ds-calendar-event-menu">
    <v-menu :disabled="!hasPopover" v-model="menu" v-bind="popoverProps">
      <template v-slot:activator="{ on }">
        <div
          ref="events"
          v-on="on"
          @click.stop="editCheck"
          @mouseenter.stop="mouseEnterEvent"
          @mouseleave="mouseLeaveEvent"
          @mousedown="mouseDownEvent"
          @mouseup="mouseUpEvent"
          data-date
          v-bind="
            setTextColor(
              isOneDayEvent ? 'grey darken-3' : 'white',
              setBackgroundColor(background, {
                style: style.style,
                class: { 'v-event': true, ...style.class },
              })
            )
          "
        >
          <!-- <v-menu :disabled="!hasPopover" v-model="menu" v-bind="popoverProps">
      <template v-slot:activator="{ on }"> -->
          <div v-if="showName" class="pl-1 d-flex">
            <div class="circle-event" v-if="isOneDayEvent">
              <div
                v-bind="
                  setBackgroundColor(details.color, {
                    class: { 'circle-inner-event': true },
                  })
                "
              ></div>
            </div>
            <span v-html="eventSummary"></span>
          </div>

          <!-- <slot
          name="eventPopover"
          v-bind="{ calendarEvent, calendar, edit, details, close }"
        ></slot> -->
        </div>
      </template>
      <!-- <calendar-event-popover
          :calendar-event="calendarEvent"
          :calendar="calendar"
          :edit="edit"
          :details="details"
          :close="close"
        ></calendar-event-popover> -->
      <slot
        name="eventPopover"
        v-bind="{ calendarEvent, calendar, edit, details, close }"
      >
      </slot>
    </v-menu>
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from "vue";

// UTILS
import mixins from "@/util/mixins";
import {
  CalendarDay,
  Calendar,
  Constants,
  Day,
  DaySpan,
  Functions as fn,
  setPartsToUTCDate,
} from "altoleap-calendar-lib/src";
import { CalendarOccurrence, getWeekViewDays } from "@/util/newCalendar";

// MIXINS
import colorable from "@/mixins/colorable";
import intervals from "@/mixins/intervals";
import events from "@/mixins/events";
import { EventRenderer, Event } from "altoleap-calendar-lib/src";

// FUNCTIONS
const WIDTH_FULL = 100;
const WIDTH_START = 95;
const MINUTES_IN_DAY = 1440;
export default mixins(colorable, events).extend({
  props: {
    day: {
      required: false,
      type: CalendarDay,
    },
    week: {
      required: false,
      type: Array as PropType<CalendarDay<any, any>[]>,
    },
    calendarEvent: {
      required: true,
      type: Object as PropType<EventRenderer<any, any>>,
    },

    calendar: {
      required: true,
      type: Calendar,
    },

    index: {
      required: false,
      type: Number,
      default: 0,
    },

    isPlaceholderWithDay: {
      type: Day,
    },

    popoverProps: {
      default() {
        return {
          nudgeWidth: 200,
          closeOnContentClick: false,
          offsetOverflow: true,
          offsetX: true,
          maxWidth: 500,
        };
      },
    },
  },
  data: () => ({
    menu: false,
  }),
  computed: {
    "data-date"() {
      return this.day.format("YYYY-MM-DD");
    },
    hasPopover() {
      return !!this.$scopedSlots.eventPopover;
    },
    details(): Partial<CalendarOccurrence> {
      return this.calendarEvent.event.data;
    },
    background(): string {
      return !this.isOneDayEvent
        ? this.details.color ?? this.eventColorFunction(this.details)
        : "transparent";
    },
    isOneDayEvent(): boolean {
      // return ;
      return !this.calendarEvent.fullDay;
    },
    style(): object {
      return this.isPlaceholderWithDay
        ? this.getStylePlaceholderFull(
            this.details,
            this.calendarEvent,
            this.index,
            this.isPlaceholderWithDay
          )
        : this.getStyleFull(this.details, this.calendarEvent, this.index);
    },

    overlapsNoon(): boolean {
      return (
        this.calendarEvent.start.hour < 12 && this.calendarEvent.end.hour >= 12
      );
    },
    singleLine(): boolean {
      return (
        this.calendarEvent.start.minutesBetween(this.calendarEvent.end) <=
        this.parsedEventOverlapThreshold
      );
    },

    timeSummary(): string {
      return (
        this.formatTime(this.calendarEvent.start, this.overlapsNoon) +
        " - " +
        this.formatTime(this.calendarEvent.end, true)
      );
    },
    eventSummary(): string | boolean {
      const name = this.details.title!;

      if (this.calendarEvent.time.start.format("hh:mm") !== "00:00") {
        const time = this.formatTime(this.calendarEvent.start, true);
        return `${time} <strong>${name}</strong>`;
      }
      return name;
    },
    rsvpStatus(): string {
      return `rsvp-${3}`;
    },

    showName() {
      return this.isPlaceholderWithDay
        ? this.isPlaceholderWithDay.sameDay(this.calendarEvent.start)
        : this.calendarEvent.starting ||
            (this.calendar &&
              !this.calendar.filled.contains(this.calendarEvent.time.start) &&
              this.calendar.filled.start.sameDay(this.calendarEvent.day));
    },
  },
  methods: {
    close() {
      this.menu = false;
    },

    formatTime(withTime: Day, ampm: boolean): string {
      return withTime.format(
        `h${withTime.minute > 0 ? ":mm" : ""}${ampm ? "a" : ""}`
      );
    },

    getStylePlaceholderFull(
      details: Partial<CalendarOccurrence>,
      calendarEvent: EventRenderer<any, any>,
      index: number,
      forDay: Day
    ) {
      const starting = calendarEvent.time.start.sameDay(forDay);
      const ending = calendarEvent.time.end.sameDay(forDay);

      // const width = WIDTH_START;
      let width = WIDTH_START;
      for (let i = this.day.dayOfWeek! + 1; i < this.week.length; i++) {
        const weekdayIdentifier = this.week[i].dayIdentifier!;
        if (calendarEvent.time.end.dayIdentifier >= weekdayIdentifier) {
          width += WIDTH_FULL;
        } else {
          break;
        }
      }

      return {
        style: {
          top: (calendarEvent.row - (index || 0)) * this.eventHeight + "px",
          // left: starting ? "0px" : "-5px",
          right: ending ? "0px" : "-6px",
          width: `${width}%`,
          "border-top-left-radius":
            calendarEvent.starting && !this.isOneDayEvent ? "6px" : "0px",
          "border-bottom-left-radius":
            calendarEvent.starting && !this.isOneDayEvent ? "6px" : "0px",
          // backgroundColor: this.blend(stateColor, this.placeholderBlendAmount, this.placeholderBlendTarget)
        },
        class: {
          "v-event-start": starting,
          "v-event-end": ending,
          // "elevation-2": this.isOneDayEvent,
        },
      };
    },
    getStyleFull(
      details: Partial<CalendarOccurrence>,
      calendarEvent: EventRenderer<any, any>,
      index: number
    ) {
      const past: boolean = calendarEvent.time.start.isBefore(this.today);
      // const cancelled: boolean = calendarEvent.input.cancelled;
      const eventMarginBottom = this.eventMarginBottom;
      const eventHeight = this.eventHeight;
      const startOWeek = this.times.today.startOf("week");
      const endOWeek = this.times.today.endOf("week");
      let width = WIDTH_START;

      for (let i = this.day.dayOfWeek! + 1; i < this.week.length; i++) {
        const weekdayIdentifier = this.week[i].dayIdentifier!;
        if (calendarEvent.time.end.dayIdentifier >= weekdayIdentifier) {
          width += WIDTH_FULL;
        } else {
          break;
        }
      }

      // width = calendarEvent.getCalendarWidth(this.day, this.week);

      return {
        style: {
          top: (calendarEvent.row - (index || 0)) * this.eventHeight + "px",
          height: `${eventHeight}px`,
          "margin-bottom": `${eventMarginBottom}px`,
          width: `${width}%`,
          // textDecoration: cancelled ? "line-through" : "inherit",
          // textDecorationColor: cancelled ? color : "inherit",
          "border-top-left-radius":
            calendarEvent.starting && !this.isOneDayEvent ? "6px" : "0px",
          "border-bottom-left-radius":
            calendarEvent.starting && !this.isOneDayEvent ? "6px" : "0px",
        },
        class: {
          "v-event-start": calendarEvent.starting,
          "v-event-end": calendarEvent.ending,
          // "elevation-2": this.isOneDayEvent,
          "v-ripple": true,
        },
        attrs: {
          "data-date": this.day.date,
        },
      };
    },
    edit() {
      if (this.handlesEvents()) {
        this.$emit("edit", this.calendarEvent);
      }
    },

    editCheck($event: MouseEvent) {
      console.log("CALENDAR EVENT");

      if (this.handlesEvents($event)) {
        console.log({ SCOPED_SLOTS: this.$scopedSlots });

        console.log({ HAS_POPOVER_EVENT: this.hasPopover });

        if (!this.hasPopover) {
          this.edit();
        } else {
          this.menu = !this.menu;
        }
      }
    },
    mouseEnterEvent($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        console.log(this.getEvent("mouse-enter-event: NON-TIME", $event));

        this.$emit(
          "mouse-enter-event",
          this.getEvent("mouse-enter-event", $event)
        );
      }
    },

    mouseLeaveEvent($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        this.$emit(
          "mouse-leave-event",
          this.getEvent("mouse-leave-event", $event)
        );
      }
    },

    mouseDownEvent($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        this.$emit(
          "mouse-down-event",
          this.getEvent("mouse-down-event", $event)
        );
      }
      console.log(this.getEvent("mouse-down-event", $event));
    },

    mouseUpEvent($event: MouseEvent) {
      if (this.handlesEvents($event)) {
        this.$emit("mouse-up-event", this.getEvent("mouse-up-event", $event));
      }
    },

    handlesEvents($event?: MouseEvent) {
      const handles = !this.isPlaceholderWithDay;

      if (handles && $event) {
        $event.stopPropagation();
      }

      return handles;
    },

    getEvent(type: string, $event: MouseEvent, extra = {}) {
      return fn.extend(
        {
          type: type,
          calendarEvent: this.calendarEvent,
          calendar: this.calendar,
          details: this.details,
          // convert to utc time to match current time
          // this is badness same is done in CalendarEventTime
          // offset: setPartsToUTCDate(
          //   new Date(this.getRelativeTimeAt($event))
          // ).valueOf(),
          offset: this.getRelativeTimeAt($event),
          left: $event.button === 0,
          right: $event.button === 1,
          handled: false,
          $event: $event,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },
    getRelativeTimeAt($event: MouseEvent) {
      const bounds = this.$el.getBoundingClientRect();
      const y = ($event.clientY - bounds.y) / this.$altoleapCalendar.bodyheight;
      const millis = y * Constants.MILLIS_IN_DAY;

      return millis;
    },
  },
  mounted() {
    console.log(this.calendarEvent);
  },
});
</script>
<style lang="sass" scoped>
@import './events/calendar-events.sass'

.ds-calendar-event-menu
  width: 100%
  height: 20px
  pointer-events: none
  position: relative

.v-altoleap-event
  margin: 1px
  color: white
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  padding-left: 0.5em
  font-size: 12px
  cursor: pointer
  position: absolute
  user-select: none
  display: block
  margin: 0
  border-radius: 2px
  pointer-events: all
</style>
