<template>
  <div
    class="v-calendar-weekly__day"
    v-resize.quiet="updateEventVisibility"
    :class="{}"
    @mouseenter="mouseEnterDay"
    @mouseleave="mouseLeaveDay"
    @mousemove.stop="mouseMoveDay"
    @mousedown="mouseDownDay"
    @mouseup="mouseUpDay"
    @click.stop="add"
    @dragstart.prevent
  >
    <div class="v-calendar-weekly__day-label">
      <v-btn
        :color="day.currentDay ? 'primary' : 'transparent'"
        fab
        x-small
        depressed
        @click.stop="viewDay"
        @mousedown.stop
        ><span class=""> {{ dayOfMonth }}</span>
        <span class="ds-first-day" v-if="showMonth">
          {{ month }}
        </span>
      </v-btn>
      <slot name="day-label"> </slot>
    </div>
    <slot name="day" :day="day">
      <template v-for="(event, i) in visibleEvents">
        <calendar-event
          ref="events"
          v-bind="{ $scopedSlots }"
          v-on="$listeners"
          :calendar-event="event"
          :key="event.id"
          :day="day"
          :week="week"
          :index="i"
          :calendar="calendar"
        >
        </calendar-event>
      </template>
      <div v-if="hasPlaceholder">
        <calendar-event-placeholder
          ref="events"
          v-bind="{ $scopedSlots }"
          :week="week"
          v-on="$listeners"
          :day="day"
          :placeholder="placeholder"
          :placeholder-for-create="placeholderForCreate"
          :calendar="calendar"
          :index="visibleEvents.length"
        >
        </calendar-event-placeholder>
      </div>
    </slot>
    <!-- </div> -->
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from "vue";
import { getTimestampIdentifier } from "../util/newCalendar";
import {
  Calendar,
  Day,
  CalendarDay,
  EventRenderer,
  DaySpan,
  Functions as fn,
  Constants,
} from "altoleap-calendar-lib/src";

export const OFFSET_TIME = 10000;
export function isEventOn(event: any, dayIdentifier: number | string): boolean {
  return (
    dayIdentifier >= event.startIdentifier &&
    dayIdentifier <= event.endIdentifier &&
    parseInt(String(dayIdentifier), 10) * OFFSET_TIME !==
      event.endTimestampIdentifier
  );
}

export function isEventStart(
  event: any,
  day: CalendarDay<any, any>,
  dayIdentifier: number | string,
  firstWeekday: number
): boolean {
  return (
    dayIdentifier === event.startIdentifier ||
    (firstWeekday === day.dayOfWeek && isEventOn(event, dayIdentifier))
  );
}

export function roundTime(day: Day, millis: number, up: boolean) {
  const time = day.time;
  const over = time % millis;
  let relative = -over;

  if (up && relative !== 0) {
    relative += millis;
  }

  return day.relative(relative);
}

type VDailyEventsMap = {
  [date: string]: {
    parent: HTMLElement;
    more: HTMLElement | null;
    events: HTMLElement[];
  };
};

export default Vue.extend({
  props: {
    day: {
      required: true,
      type: CalendarDay as PropType<CalendarDay<any, any>>,
    },
    week: {
      required: true,
      type: Array as PropType<CalendarDay<any, any>[]>,
    },

    calendar: {
      required: true,
      type: Calendar,
    },

    placeholder: {
      type: EventRenderer,
    },

    placeholderForCreate: {
      type: Boolean,
      default: false,
    },
    events: {
      required: false,
      type: Array,
    },
  },
  data: () => ({}),
  computed: {
    classesDay(): object {
      return {
        "ds-today": this.day.currentDay,
        "ds-first-day-day": this.day.dayOfMonth === 1,
        "ds-out-calendar": !this.day.inCalendar,
      };
    },

    classesHeader(): object {
      return {
        "ds-out-calendar": !this.day.inCalendar,
      };
    },
    classesDayOfMonth(): object {
      return {
        "ds-today-dom": this.day.currentDay,
      };
    },

    showMonth(): boolean {
      return this.day.dayOfMonth === 1;
    },

    dayOfMonth(): number {
      return this.day.dayOfMonth;
    },
    month() {
      return this.day.format("MMM");
    },

    hasPlaceholder() {
      return this.placeholder && this.placeholder.time.matchesDay(this.day);
    },

    visibleEvents(): any[] {
      return this.day.events.filter(this.isVisible);
    },
  },
  methods: {
    getEventsForDay(day: CalendarDay<any, any>): any[] {
      const identifier = day.dayIdentifier!;
      const firstWeekday = day.startOf("week").dayOfWeek!;

      return this.events.filter((event: any) =>
        isEventStart(event, day, identifier, firstWeekday)
      );
    },

    isVisible(calendarEvent: EventRenderer<any, any>): boolean {
      if (
        // this.$dayspan.features.hideOnMove &&
        (this.placeholder && this.placeholder.event === calendarEvent.event) ||
        calendarEvent.placeholder
      ) {
        return false;
      }

      return true;
    },

    add() {
      this.$emit("add", this.day);
    },

    viewDay($event: MouseEvent) {
      this.$emit("view-day", this.day, $event);
    },

    mouseEnterDay($event: MouseEvent) {
      // console.log({ TYPE: "mouse-enter-day" });
      this.$emit("mouse-enter-day", this.day);
    },

    mouseLeaveDay($event: MouseEvent) {
      this.$emit("mouse-leave-day", this.day);
    },

    mouseMoveDay($event: MouseEvent) {
      this.$emit("mouse-move-day", this.getEvent("mouse-move-day", $event));
    },

    mouseDownDay($event: MouseEvent) {
      this.$emit("mouse-down-day", this.getEvent("mouse-down-day", $event));
    },

    mouseUpDay($event: MouseEvent) {
      this.$emit("mouse-up-day", this.getEvent("mouse-up-day", $event));
    },

    getEvent(type: string, $event: MouseEvent, extra = {}) {
      return fn.extend(
        {
          type: type,
          day: this.day,
          calendar: this.calendar,
          left: $event.button === 0 && $event.buttons > 0,
          right: $event.button === 1 && $event.buttons > 0,
          handled: false,
          $event: $event,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },
    updateEventVisibility() {
      if (!this.visibleEvents.length) {
        return;
      }

      const eventHeight = 20;
      const eventsMap = this.getEventsMap();
      // console.log({ eventsMap }, eventHeight);

      for (const date in eventsMap) {
        const { parent, events, more } = eventsMap[date];
        if (!more) {
          break;
        }

        const parentBounds = parent.getBoundingClientRect();
        const last = events.length - 1;
        let hide = false;
        let hidden = 0;
        // console.log("bounds:", { parentBounds });

        for (let i = 0; i <= last; i++) {
          if (!hide) {
            const eventBounds = events[i].getBoundingClientRect();
            // console.log("bounds:", { eventBounds });

            hide =
              i === last
                ? eventBounds.bottom > parentBounds.bottom
                : eventBounds.bottom + eventHeight > parentBounds.bottom;
          }
          if (hide) {
            events[i].style.display = "none";
            hidden++;
          }
        }

        if (hide) {
          more.style.display = "";
          more.innerHTML = `${hidden} more`;
        } else {
          more.style.display = "none";
        }
      }
    },

    getEventsMap(): VDailyEventsMap {
      const eventsMap: VDailyEventsMap = {};
      const elements = this.$refs.events as any[];

      if (!elements || !elements.forEach) {
        return eventsMap;
      }

      elements.forEach((el) => {
        const date = el["data-date"];
        // console.log(el.parentElement);

        if (el.$el.parentElement && date) {
          if (!(date in eventsMap)) {
            eventsMap[date] = {
              parent: el.$el.parentElement,
              more: null,
              events: [],
            };
          }
          if (el["data-more"]) {
            eventsMap[date].more = el.$el;
          } else {
            eventsMap[date].events.push(el.$el);
            el.$el.style.display = "";
          }
        }
      });

      return eventsMap;
    },
  },
  updated() {
    window.requestAnimationFrame(this.updateEventVisibility);
  },
  mounted() {
    // const parent = this.$el.parentElement!;
    // const child = this.$el!;
    // console.log(parent.getBoundingClientRect(), child.getBoundingClientRect());
    // this.updateEventVisibility();
  },
});
</script>
<style lang="sass">
.ds-out-calendar
  color: #757575
</style>
