<template>
  <div class="ds-day-picker">
    <div class="ds-week-header mb-2">
      <div class="week-header subtitle py-1 pl-2 ds-light-forecolor">
        <span class="week-subheader"> {{ summary }}</span>
      </div>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            small
            icon
            depressed
            @click="prev"
            class="ds-light-forecolor ma-0"
            v-on="on"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </template>
        <span>{{ labels.prevMonth }}</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            small
            icon
            depressed
            class="ds-light-forecolor ma-0"
            @click="next"
            v-on="on"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </template>
        <span>{{ labels.nextMonth }}</span>
      </v-tooltip>
    </div>

    <!-- <div class="ds-week-subheader ds-light-forecolor">
      <div
        class="ds-weekday caption"
        v-for="weekday in weekdays"
        :key="weekday"
      >
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <span v-on="on">{{ weekday.charAt(0) }}</span>
          </template>
          <span>{{ weekday }}</span>
        </v-tooltip>
      </div>
    </div> -->

    <!-- <div class="ds-week">
      <div
        class="ds-day-pick"
        v-for="day in month.days"
        :key="day.dayIdentifier"
      >
        <v-btn
          x-small
          fab
          depressed
          style="width: 24px;
    height: 24px;
    line-height: 24px;"
          :text="!day.currentDay"
          class="ma-0 caption"
          @click="pick(day)"
          :color="day.currentDay ? 'primary' : ''"
          :class="{
            'btn--active': day.currentDay,
            'ds-light-forecolor': !day.inCalendar,
            primary: isHighlighted(day),
          }"
        >
          {{ day.dayOfMonth }}
        </v-btn>
      </div>
    </div> -->
    <div class="table-grid" role="grid">
      <div class="table-header">
        <v-tooltip bottom v-for="weekday in weekdays" :key="weekday">
          <template v-slot:activator="{ on }">
            <span v-on="on" role="columnheader" class="table-weekday">{{
              weekday.charAt(0)
            }}</span>
          </template>
          <span>{{ weekday }}</span>
        </v-tooltip>
      </div>
      <div class="table-header-group">
        <div role="row" class="table-row" v-for="i in rows" :key="i">
          <span
            class="day-col"
            v-for="day in daysAtRow(i, 7)"
            :key="day.Identifier"
            >{{ day.dayOfMonth }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  DaySpan,
  Calendar,
  CalendarDay,
  Functions as fn,
} from "altoleap-calendar-lib/src";
import Vue from "vue";
export default Vue.extend({
  name: "dsDayPicker",

  props: {
    span: {
      required: true,
      type: DaySpan,
    },

    highlightSpan: {
      type: Boolean,
      default: false,
    },

    weekdays: {
      type: Array,
      default() {
        return [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
        ];
      },
    },

    labels: {
      default() {
        return {
          prevMonth: "Previous month",
          nextMonth: "Next month",
        };
      },
    },
  },

  data: (vm: any) =>
    ({
      month: vm.getMonth(),
    } as any),

  computed: {
    summary(): string {
      return this.month ? this.month.summary(false, false, false, false) : "";
    },
    rows() {
      return Math.floor(this.month.days.length / 7);
    },
  },

  watch: {
    span: {
      deep: true,
      handler() {
        this.resetMonth();
      },
    },
  },

  methods: {
    isHighlighted(day: CalendarDay<any, any>) {
      return this.highlightSpan && this.span.matchesDay(day);
    },

    getMonthStart() {
      return this.span && this.span.start
        ? this.span.start
        : this.$altoleapCalendar.today;
    },

    resetMonth() {
      if (!this.span.matchesMonth(this.month.start)) {
        this.month = this.getMonth();
      }
    },

    getMonth() {
      return Calendar.months(1, this.getMonthStart(), 0, {
        fill: true,
        minimumSize: 42,
      });
    },

    pick(day: CalendarDay<any, any>) {
      this.$emit("picked", day);
    },

    prev() {
      const ev = this.getEvent("prev", { next: false, prev: true });

      this.$emit("prev", ev);

      if (!ev.handled) {
        ev.month.prev();
        ev.handled = true;
      }

      this.$emit("change", ev);
    },

    next() {
      const ev = this.getEvent("next", { next: true, prev: false });

      this.$emit("next", ev);

      if (!ev.handled) {
        ev.month.next();
        ev.handled = true;
      }

      this.$emit("change", ev);
    },

    daysAtRow(row: number, rowSize: number) {
      const start = (row - 1) * rowSize;

      return this.month.days.slice(start, start + rowSize);
    },

    getEvent(type: string, extra = {}) {
      return fn.extend(
        {
          type: type,
          span: this.span,
          month: this.month,
          handled: false,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },
  },
});
</script>

<style scoped lang="scss">
.week-header {
  align-items: center;
  margin-left: 4px;
  margin-right: 3px;
  height: 32px;
  font-size: 12px;
  font-weight: 400;
  color: #3c4043;
  display: flex;
  text-align: center;
}

.week-subheader {
  -webkit-box-flex: 1;
  box-flex: 1;
  //   -webkit-flex-grow: 1;
  //   flex-grow: 1;
  //   padding-left: 5px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 20px;
  color: #3c4043;
}
.table-weekday {
  display: table-cell;
  font-size: 12px;
  font-weight: 500;
  vertical-align: middle;
  color: #70757a;
}

[role="columnheader"],
[role="rowheader"],
[role="gridcell"] {
  outline: none;
}

.table-grid {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.table-header {
  height: 24px;
  display: table-row;
  // height: 28px;
}

.table-header-group {
  display: table-row-group;
}
.table-row {
  height: 24px;
  display: table-row;
}

.day-col {
  display: table-cell;
  font-size: 10px;
  font-weight: 500;
  vertical-align: middle;
  color: #70757a;
  cursor: pointer;
  outline: none;
  position: relative;
}

.day-col::before {
  position: absolute;
  height: 24px;
  left: -50%;
  right: 50%;
  z-index: -1;
  content: "";
  background-color: white;
  transition: background-color 100ms linear;
}

.ds-day-picker {
  .ds-week-header {
    display: flex;

    > div {
      flex: 1;
    }

    .tooltip {
      flex: 1;
      text-align: center;
    }

    .subtitle {
      flex: 5;
    }
  }

  .ds-week-subheader {
    display: flex;
    text-align: center;
  }

  .ds-week {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ds-weekday {
    flex: 1;
  }

  .ds-day-pick {
    flex: 1 0 14%;
  }
}
</style>
