<template>
  <div class="v-calendar-weekly__week">
    <template v-for="(day, i) in days">
      <day
        v-bind="{ $scopedSlots }"
        v-on="$listeners"
        :key="i"
        :day="day"
        :week="days"
        :events="events"
        :calendar="calendar"
        :placeholder="placeholder"
        :placeholder-for-create="placeholderForCreate"
      >
      </day>
    </template>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Calendar, EventRenderer } from "altoleap-calendar-lib/src";
export default Vue.extend({
  name: "dayRow",
  props: {
    days: {
      required: true,
      type: Array,
    },

    events: {
      required: false,
      type: Array,
    },

    calendar: {
      required: true,
      type: Calendar,
    },

    placeholder: {
      type: EventRenderer,
    },

    placeholderForCreate: {
      type: Boolean,
      default: false,
    },
  },
});
</script>
