<template>
  <div
    class="v-calendar-daily__day"
    @mouseenter="mouseEnterDay"
    @mouseleave="mouseLeaveDay"
    @mousemove.stop="mouseMove"
    @mousedown="mouseDown"
    @mouseup="mouseUp"
    @dragstart.prevent
  >
    <div
      class="v-calendar-daily__day-interval"
      :style="
        `height: ${convertToUnit(intervalHeight)}; ${intervalStyleDefault}`
      "
      v-for="interval in intervals[dayIndex]"
      :key="interval.timeIdentifier"
      @click.stop="addAt(interval)"
    >
      <slot name="interval"> </slot>
    </div>
    <slot name="day-body" :day="day">
      <template v-for="event in day.events">
        <calendar-event-time
          event-name="title"
          v-if="isVisible(event)"
          v-on="$listeners"
          v-bind="{ $scopedSlots }"
          :calendar-event="event"
          :day="day"
          :key="event.id"
          :calendar="calendar"
        >
        </calendar-event-time>
      </template>
      <div v-if="hasPlaceholder">
        <calendar-event-time-placeholder
          v-bind="{ $scopedSlots }"
          v-on="$listeners"
          :day="day"
          :placeholder="placeholder"
          :placeholder-for-create="placeholderForCreate"
          :calendar="calendar"
        >
        </calendar-event-time-placeholder>
      </div>
    </slot>

    <div
      v-if="day.currentDay"
      :style="nowLine"
      class="v-current-time first"
    ></div>
  </div>
</template>
<script lang="ts">
import Vue, { VNode } from "vue";
import { convertToUnit } from "@/util/helpers";

import {
  Calendar,
  Day,
  CalendarDay,
  Constants,
  Functions as fn,
  EventRenderer,
  IdentifierInput,
  DaySpan,
  setUTCPartsToDate,
  setPartsToUTCDate,
} from "altoleap-calendar-lib/src";
import { isEventOn } from "@/util/newCalendar";
import { CalendarEventOverlapModes } from "@/util/altoleapCalendar/modes";

export function roundTime(day: Day, millis: number, up: boolean) {
  const time = day.time;
  const over = time % millis;
  let relative = -over;

  if (up && relative !== 0) {
    relative += millis;
  }

  return day.relative(relative);
}

export default Vue.extend({
  props: {
    calendar: {
      type: Calendar,
    },
    day: {
      type: CalendarDay,
    },
    intervalHeight: {
      type: Number,
      default: 48,
    },
    timeToY: {
      type: Function,
    },
    intervals: {
      type: Array,
    },
    events: {
      type: Array,
    },
    // nowLine: {
    //   type: Object,
    // },
    dayIndex: {
      type: Number,
    },

    placeholder: {
      type: EventRenderer,
    },

    placeholderForCreate: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    move: 1,
    add: Constants.MILLIS_IN_MINUTE * 15,
    drag: Constants.MILLIS_IN_MINUTE * 15,
  }),
  computed: {
    nowLine() {
      return (this as any).$altoleapCalendar.nowLineStyleBorder;
    },
    hasPlaceholder(): boolean {
      return (
        !!this.placeholder &&
        !this.placeholder.fullDay &&
        this.placeholder.time.matchesDay(this.day)
      );
    },
    mode() {
      return CalendarEventOverlapModes["stack"](
        this.events,
        this.calendar.start.dayOfWeek!,
        60
      );
    },
  },
  methods: {
    convertToUnit,

    addAt(interval: CalendarDay<any, any>) {
      this.$emit("add-at", {
        day: this.day,
        hour: interval.hour,
      });
    },

    mouseEnterDay($event: MouseEvent) {
      this.$emit("mouse-enter-day", this.day);
    },

    mouseLeaveDay($event: MouseEvent) {
      this.$emit("mouse-leave-day", this.day);
    },
    mouseMove($event: MouseEvent) {
      const time = this.getTimeAt($event, this.move);
      const timeDrag = this.getTimeAt($event, this.add, true);
      const ev = this.getEvent("mouse-move", $event, { time, timeDrag });

      this.$emit("mouse-move", ev);
    },

    mouseDown($event: MouseEvent) {
      const time = this.getTimeAt($event, this.add);
      const ev = this.getEvent("mouse-down", $event, { time });

      this.$emit("mouse-down", ev);
      console.log({ "ACTION TYPE": ev.type, DATE: time.date });
    },

    mouseUp($event: MouseEvent) {
      const time = this.getTimeAt($event, this.add, true);
      const ev = this.getEvent("mouse-up", $event, { time });

      this.$emit("mouse-up", ev);
      // console.log({ "ACTION TYPE": ev.type, DATE: time.date });
    },
    getEvent(type: any, $event: MouseEvent, extra = {}): any {
      return fn.extend(
        {
          type: type,
          day: this.day,
          left: $event.button === 0 && $event.buttons > 0,
          right: $event.button === 1 && $event.buttons > 0,
          handled: false,
          $event: $event,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },

    getTimeAt($event: MouseEvent, roundTo: number, roundUp: boolean = false) {
      // console.log("DAY TIMES, getTimeAt()", this.day);

      const bounds = this.$el.getBoundingClientRect();
      const y = ($event.clientY - bounds.y) / bounds.height;
      const millis = Math.round(Constants.MILLIS_IN_DAY * y);
      let time = this.day.startOf("day").relative(millis);

      if (roundTo) {
        time = roundTime(time, roundTo, roundUp);
      }

      return time;
    },
    intervalStyleDefault(_interval: Day): object | undefined {
      return undefined;
    },

    isVisible(calendarEvent: any) {
      if (calendarEvent.fullDay) {
        return false;
      }

      if (
        // this.$dayspan.features.hideOnMove &&
        this.placeholder &&
        this.placeholder.event === calendarEvent.event
      ) {
        return false;
      }

      return true;
    },
  },
  mounted() {
    console.log("EVENTS", this.day.events.length);
  },
});
</script>
<style lang="sass">
@import './IntervalHeader.sass'
@import './VCalendarDaily.sass'

.v-current-time
  height: 2px
  background-color: #ea4335
  position: absolute
  left: -1px
  right: 0
  pointer-events: none
  z-index: 2

  &.first::before
    content: ""
    position: absolute
    background-color: #ea4335
    width: 12px
    height: 12px
    border-radius: 50%
    margin-top: -5px
    margin-left: -6.5px
    z-index: 2
</style>
