<template>
  <div class="integration-snack d-flex flex-column" :class="classes">
    <transition
      :name="
        isReversing ? 'scroll-y-reverse-transition' : 'scroll-y-transition'
      "
    >
      <div v-if="isActive" class="integration-snack-wrapper">
        <div
          class="ml-3"
          style="
        word-break: normal;
        line-height: 20px;
        letter-spacing: .2px;
        flex-grow: 1;
        flex-shrink: 1; 
        text-align: initial;
        margin-right: auto;"
        >
          <slot />
        </div>
        <slot
          name="action"
          v-bind="{ attrs: { class: 'integration-snack__vbtn' } }"
        />
      </div>
    </transition>
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from "vue";
import mixins from "@/util/mixins";
import Toggleable from "@/mixins/toggleable";
import colorable from "@/mixins/colorable";

export default mixins(colorable, Toggleable).extend({
  name: "integration-snackbar",
  props: {
    timeout: {
      type: [Number, String],
      default: 5000,
    },
    // transition: {
    //   type: [Boolean, Array] as PropType<false | string[]>,
    //   default: () => ["scroll-y-reverse-transition", "scroll-y-transition"],
    //   validator: (v) => v instanceof Array || v === false,
    // },
  },

  data: () => ({
    activeTimeout: -1,
    isReversing: false,
  }),

  computed: {
    classes(): object {
      return {
        "integration-snack--active": this.isActive,
      };
    },
  },

  watch: {
    isActive: {
      handler(val: boolean) {
        // console.log(this.isReversing === !this.$vuetify.rtl);

        this.isReversing = !!val;
        // console.log(this.isReversing);

        this.$nextTick(() => {
          this.isReversing = !this.isReversing;
        });
        // console.log(this.isReversing);

        this.setTimeout();
      },
    },
    timeout: "setTimeout",
  },

  mounted() {
    if (this.isActive) this.setTimeout();
  },
  methods: {
    setTimeout() {
      window.clearTimeout(this.activeTimeout);

      const timeout = Number(this.timeout);

      if (
        !this.isActive ||
        // TODO: remove 0 in v3
        [0, -1].includes(timeout)
      ) {
        return;
      }

      this.activeTimeout = window.setTimeout(() => {
        this.isActive = false;
      }, timeout);
    },
  },
});
</script>

<style lang="sass">
.integration-snack__vbtn
  font-weight: 500
  letter-spacing: .15px
  line-height: 36px
  margin-left: auto
  padding-bottom: 0
  padding-top: 0
  text-transform: none

  float: right
  align-self: center
  flex-grow: 0
  flex-shrink: 0
  display: inline-block
  cursor: pointer
  outline: none
  padding-top: 14px 24px


.integration-snack
  bottom: 0
  left: 0
  top: 0
  right: 0
  width: 100%
  // pointer-events: none
  color: #fff
  font-size: 14px
  // position: relative
  // background: #202124

  z-index: 99999
  border-top: 1px solid rgb(224, 224, 224)




.integration-snack-wrapper
  box-align: center
  align-items: center
  justify-content: center
  display: flex
  flex-direction: row
  min-height: 48px
  background: #202124
  padding: 0


// .scroll-y-reverse-transition
</style>
