.calendar-interval-header
  // position: absolute
  // top: 80px
  left: 0
  bottom: 0
  right: 0
  -webkit-box-flex: none
  -webkit-flex: none
  flex: none
  pointer-events: none


.calendar-interval-row
  min-height: 84px
  display: -webkit-box
  display: -webkit-flex
  display: flex
  -webkit-box-flex: none
  -webkit-flex: none
  flex: none
  overflow: hidden


.calendar-interval-presentation
  -webkit-box-flex: 1 1 auto
  -webkit-flex: 1 1 auto
  flex: 1 1 auto
  display: -webkit-box
  display: -webkit-flex
  display: flex
  overflow: hidden
  overflow-x: scroll

.calendar-pre-slot
  width: 9px
  min-width: 9px

.calendar-interval-column-header
  -webkit-box-flex: 1 0 auto
  -webkit-flex: 1 0 auto
  flex: 1 0 auto
  width: 129px
  min-width: 129px

  // new class
  display: flex
  z-index: 2

  // new class
  overflow: hidden
  box-sizing: border-box


.calendar-interval-column-side
  border-left: #dadce0 1px solid
  bottom: 0
  height: 20px
  margin-left: -1px
  position: absolute


.calendar-interval-column-end
  overflow: scroll
  visibility: hidden
  -webkit-box-flex: none
  -webkit-flex: none
  flex: none   
  ::-webkit-scrollbar 
    width: 16px

