<template>
  <v-dialog
    v-model="isActive"
    min-width="470px"
    max-width="500px"
    max-height="400px"
    @keydown.esc="cancel"
    overlay-opacity=".2"
    scrollable
    v-bind="$attrs"
  >
    <template #activator="{ on, attrs }" v-if="!disableSlot">
      <slot
        name="activator"
        v-bind="{ on: getSafeOnHandler(on) }"
        :attrs="attrs"
      >
        <v-btn text small v-on="on" class="px-2">
          Recurrence Dialog
        </v-btn>
      </slot>
    </template>

    <v-card class="d-flex flex-column overflow-y-auto">
      <v-card-title>
        <span>Recurrence</span>
        <v-spacer></v-spacer>
        <v-menu bottom left>
          <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              dense
              v-for="(item, i) in 1"
              :key="i"
              @click="() => {}"
            >
              <v-list-item-title>Need Help?</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-card-title>
      <v-card-subtitle>
        Add event recurrence
      </v-card-subtitle>
      <v-card-text style="height: 400px;">
        <div class="d-flex flex-column">
          <div>
            <span>Repeat every</span>
            <div class="d-inline-flex">
              <v-text-field
                dense
                type="number"
                v-model="recurrenceRule.interval"
                flat
                min="1"
                max="200"
                solo
                color="primary"
                hide-details
                style="max-width: 55px"
                class="ml-3 pr-0"
                background-color="grey lighten-4"
              ></v-text-field>
              <v-select
                dense
                class="px-3"
                item-text="text"
                item-value="value"
                v-model="recurrenceRule.freq"
                :items="frequencies"
                color="primary"
                flat
                solo
                single-line
                hide-details
                style="max-width: 170px"
                background-color="grey lighten-4"
              ></v-select>
            </div>
          </div>
        </div>
        {{ internalValue }}
      </v-card-text>
      <v-card-actions class="align-self-end mt-auto">
        <slot v-bind="{ cancel, save }">
          <v-spacer></v-spacer>
          <v-btn text @click="cancel">Cancel</v-btn>
          <v-btn color="primary" @click="save">Save</v-btn>
        </slot>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import Vue, { PropType } from "vue";
import RRule, { Options as RRuleOptions, Frequency } from "rrule";
import { mergeDeep } from "@/util/helpers";
import { Parse } from "altoleap-calendar-lib/src";

const prop = "value",
  event = "input";
export default Vue.extend({
  model: { prop, event },

  props: {
    disableSlot: Boolean,
    value: (null as any) as PropType<any>,
    start: {
      required: true,
      type: [String, Date],
    },
  },
  data() {
    return {
      lazyValue: this.value,
      isActive: false,
      defaultRule: {
        freq: undefined,
        // dtstart: null,
        interval: undefined,
        // wkst: null,
        // count: null,
        // until: null,
        // bysetpos: null,
        // bymonth: null,
        // bymonthday: null,
        // bynmonthday: null,
        // byyearday: null,
        // byweekno: null,
        // byweekday: [],
        // bynweekday: null,
        // byhour: null,
        // byminute: null,
        // bysecond: null,
        // byeaster: null,
      } as Partial<RRuleOptions>,
      recurrenceRule: {
        freq: Frequency.WEEKLY,
        interval: 1,
      } as Partial<RRuleOptions>,
    };
  },
  watch: {
    value(val: any) {
      (this as any).lazyValue = val;
    },
    isActive(val: boolean) {
      if (val) {
        this.open(this.internalValue);
      }
    },
  },
  computed: {
    internalValue: {
      get(): any {
        return this.lazyValue as any;
      },
      set(val: RRule | null) {
        this.lazyValue = val;
        // this.$emit(event, val instanceof RRule ? val.toString() : val);
        this.$emit(event, val);
      },
    } as any,
    frequencies(): any[] {
      return [
        {
          text: this.recurrenceRule.interval! > 1 ? "Days" : "Day",
          value: Frequency.DAILY,
        },
        {
          text: this.recurrenceRule.interval! > 1 ? "Weeks" : "Week",
          value: Frequency.WEEKLY,
        },
        {
          text: this.recurrenceRule.interval! > 1 ? "Months" : "Month",
          value: Frequency.MONTHLY,
        },
        {
          text: this.recurrenceRule.interval! > 1 ? "Years" : "Year",
          value: Frequency.YEARLY,
        },
      ];
    },
  },
  methods: {
    // @see: https://github.com/vuetifyjs/vuetify/issues/7021
    getSafeOnHandler({ click }: { click: Function }): { click: Function } {
      return {
        click(event: Event) {
          return setTimeout(() => click(event), 10);
        },
      };
    },

    open(value?: RRule | any) {
      console.log({ value });
      //   this.recurrenceRule = value  ?? this.defaultRule;
      this.recurrenceRule = mergeDeep(
        this.defaultRule,
        value ? value!.origOptions : {}
      );
      //  ?? this.defaultRule;

      //   RRule.fromString(this.internalValue);
    },

    save() {
      (this as any).internalValue = new RRule(this.recurrenceRule);
      //   console.log();

      this.isActive = false;
    },

    cancel() {
      this.isActive = false;
    },
  },
});
</script>
