<template>
  <div class="d-inline-flex">
    <v-select
      v-bind="$attrs"
      class="d-flex align-self-end mt-5 ml-3"
      style="max-width: 300px;"
      solo
      flat
      dense
      hide-details
      :menu-props="{
        offsetY: true,
        closeOnContentClick: true,
        closeOnClick: false,
      }"
      item-text="text"
      item-value="value"
      :items="recurrenceDefaultListOptions"
      v-model="internalValue"
    >
      <!-- <template v-slot:selection="{ item, index }">
        <span
          v-if="index > -1"
          class="font-weight-regular body-2 text-capitalize"
        >
          {{ item }}
          {{ item ? item.toText() : "Doesnt't Repeat" }}
        </span>
        <span v-else>{{ this.internalValue }}</span>
      </template> -->
      <template v-slot:item="{ item, attrs, on }">
        <v-list-item v-bind="attrs" v-on="on" dense class="my-0 py-0">
          <v-list-item-content>
            <v-list-item-title>
              <span class="font-weight-regular body-2 text-capitalize">
                <!-- {{
                item ? item.toText() : "Doesnt't Repeat"
              }} -->
                {{ item.text }}
              </span>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
      <template v-slot:append-item v-if="useCustom">
        <recurrence-dialog v-model="internalValue" :start="start">
          <template v-slot:activator="{ on, attrs }">
            <v-list-item v-bind="attrs" v-on="on" class="py-0">
              <v-list-item-content>
                <v-list-item-title
                  class="font-weight-regular body-2 text-capitalize"
                >
                  Custom
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider class=""></v-divider>
          </template>
        </recurrence-dialog>
      </template>
    </v-select>
    {{ internalValue }} ok
    <!-- {{ recurrenceDefaultListOptions }} -->
    ok
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from "vue";
import {
  Calendar,
  Recurrence,
  Identifier,
  Functions as fn,
  CalendarDay,
  EventRenderer,
  Day,
  TimeInput,
  setUTCPartsToDate,
  DaySpan,
  Parse,
  CalendarOccurrence,
} from "altoleap-calendar-lib/src";

import RRule, { rrulestr, Frequency } from "rrule";
import { isArray } from "@/util/helpers";
import { isString } from "../../../../Work/Altoleap/StaffNet/portal/src/utils/helpers";
const prop = "value",
  event = "input";
export default Vue.extend({
  model: { prop, event },

  props: {
    value: (null as any) as PropType<any>,
    useCustom: Boolean,
    start: {
      required: true,
      type: [String, Date],
    },
  },
  data() {
    return {
      lazyValue: this.value,
      hasMouseDown: false,
      dialog: false,
    };
  },
  computed: {
    internalValue: {
      get(): RRule {
        return this.lazyValue as any;
      },
      set(val: RRule) {
        console.log(val);

        this.lazyValue = val;
        // this.$emit(event, val instanceof RRule ? val.toString() : val);
        this.$emit(event, val);
      },
    } as any,
    recurrenceDefaultListOptions() {
      return [
        null,
        {
          freq: Frequency.DAILY,
          dtstart: Parse.day(this.start).toDate(),
          byweekday: Parse.day(this.start).dayOfWeek,
        },
        {
          freq: Frequency.WEEKLY,
          dtstart: Parse.day(this.start).toDate(),
          byweekday: Parse.day(this.start).dayOfWeek,
        },
        {
          freq: Frequency.MONTHLY,
          dtstart: Parse.day(this.start).toDate(),
          byweekday: Parse.day(this.start).dayOfWeek,
        },
      ].map((item: any) => {
        item = item ? new RRule(item) : null;
        return {
          text: item ? item.toText() : "Doesnt Repeat",
          value: item,
        };
      });
    },
  },
  watch: {
    value: {
      handler(val: any) {
        if (isArray(val)) {
          (this as any).lazyValue = RRule.fromString(String(val.join("\n")));
        } else if (isString(val)) {
          (this as any).lazyValue = RRule.fromString(val);
        } else {
          (this as any).lazyValue = val;
        }
      },
      immediate: true,
    },
  },
  methods: {
    cancel() {
      (this as any).dialog = false;
    },
  },
});
</script>
