@import './_variables.scss'

// Theme
  // +theme(v-calendar-daily) using ($material)
.v-calendar-daily
  background-color: light
  // border-left: #e0e0e0 $calendar-line-width solid
  // border-top: #e0e0e0 $calendar-line-width solid
// background-color: map-deep-get($material, 'calendar', 'background-color')
// border-left: map-deep-get($material, 'calendar', 'line-color') $calendar-line-width solid
// border-top: map-deep-get($material, 'calendar', 'line-color') $calendar-line-width solid

.v-calendar-daily__intervals-head
  // border-right: #e0e0e0 $calendar-line-width solid
  -webkit-box-flex: 1
  -webkit-flex: 1
  flex: 1
  margin-left: 1px
  min-width: 40px

  &::after
    background: #e0e0e0
    background: linear-gradient(90deg, transparent, #e0e0e0)
  
.v-calendar-daily_head-day
  // border-right: #e0e0e0 $calendar-line-width solid
  border-bottom: #e0e0e0 $calendar-line-width solid
  color: #000000

  &.v-past
    .v-calendar-daily_head-weekday,
    .v-calendar-daily_head-day-label
      color: rgba(#000000, .38)

.v-calendar-daily__intervals-body
  border-right: #e0e0e0 $calendar-line-width solid

  .v-calendar-daily__interval-text
    color: #424242

.v-calendar-daily__day
  border-right: #e0e0e0 $calendar-line-width solid
  border-bottom: #e0e0e0 $calendar-line-width solid

.v-calendar-daily__day-interval
  border-top: #e0e0e0 $calendar-line-width solid

  &:first-child
    border-top: none !important
    // display: none

.v-calendar-daily__interval::after
  border-top: #e0e0e0 $calendar-line-width solid

.v-calendar-daily
  display: flex
  flex-direction: column
  overflow: hidden
  height: 100%

.v-calendar-daily__head
  flex: none
  display: flex

.v-calendar-daily__intervals-head
  flex: none
  position: relative

  &::after
    position: absolute
    bottom: 0px
    height: $calendar-line-width
    left: 0
    right: 0
    content: ''

.v-calendar-daily_head-day
  flex: 1 1 auto
  width: 0
  position: relative
  // test
  // margin-left: -6px
  // display: flex
  // flex-direction: column
  // overflow: hidden
  // position: relative


.v-calendar-daily_head-weekday
  user-select: none
  padding: $calendar-daily-weekday-padding
  font-size: $calendar-daily-weekday-font-size
  text-align: center
  // text-transform: uppercase
  line-height: 32px
  position: relative
  z-index: 2
  color: #70757a
  font-size: 11px
  font-weight: 500
  letter-spacing: .8px
  margin-left: 0
  margin-top: 8px
  text-indent: .8px
  text-transform: uppercase

.v-calendar-daily_head-day-label
  user-select: none
  padding: $calendar-daily-day-padding
  cursor: pointer
  text-align: center

.v-calendar-daily__body
  flex: 1 1 60%
  overflow: hidden
  display: flex
  position: relative
  flex-direction: column

  ::-webkit-scrollbar
    width: 16px
    height: 16px
  ::-webkit-scrollbar-thumb
    border-bottom: 4px solid white
    border-left: 4px solid white
    border-right: 4px solid white
    border-top: 4px solid white

::-webkit-scrollbar
  background: transparent
  height: 8px
  width: 8px

::-webkit-scrollbar-thumb
  border: none
  -webkit-box-shadow: none
  box-shadow: none
  background: #dadce0
  -webkit-border-radius: 8px
  border-radius: 8px
  min-height: 40px



.v-calendar-daily__scroll-area
  overflow: hidden
  flex: 1 1 auto
  display: flex
  // align-items: flex-start
  align-items: stretch

.v-calendar-daily__pane
  width: 100%
  overflow-y: hidden
  flex: none
  display: flex
  align-items: flex-start

.v-calendar-daily__day-container
  display: flex
  flex: 1
  width: 100%
  height: 100%
  // background-color: #000000

.v-calendar-daily__intervals-body
  flex: none
  user-select: none
  margin-left: 1px
  &:first-child
    border-top: none !important
    // display: none

.v-calendar-daily__interval
  text-align: $calendar-daily-interval-gutter-align
  padding-right: $calendar-daily-interval-gutter-line-width
  border-bottom: none
  position: relative

  &::after
    width: $calendar-daily-interval-gutter-line-width
    position: absolute
    height: $calendar-line-width
    display: block
    content: ''
    right: 0
    bottom: -$calendar-line-width

.v-calendar-daily__interval-text
  display: block
  position: relative
  top: $calendar-daily-interval-gutter-top
  font-size: $calendar-daily-interval-gutter-font-size
  padding-right: $calendar-daily-interval-gutter-width

.v-calendar-daily__day
  flex: 1
  width: 0
  position: relative
