<template>
  <div class="v-calendar-daily__head" :style="marginStyle">
    <div
      class="v-calendar-daily__intervals-head align-items-end d-flex"
      :style="widthStyle"
    >
      <!-- <slot name="interval-header">interval-header {{ days.length }}</slot> -->
      <div
        class="v-calendar-daily__interval-text justify-right align-right float-right text-right mt-auto caption grey--text text--darken-1"
      >
        GMT-5
      </div>
    </div>
    <template v-for="(day, dayIndex) in days">
      <week-day-header
        :key="day.dayIdentifier + dayIndex"
        v-on="$listeners"
        v-bind="{ $scopedSlots }"
        :day="day"
        :events="events"
        :calendar="calendar"
        :placeholder="placeholder"
        :placeholder-for-create="placeholderForCreate"
      ></week-day-header>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Calendar, EventRenderer } from "altoleap-calendar-lib/src";
import { convertToUnit } from "@/util/helpers";
export default Vue.extend({
  props: {
    days: {
      required: true,
      type: Array,
    },
    events: {
      required: false,
      type: Array,
    },

    calendar: {
      required: true,
      type: Calendar,
    },

    placeholder: {
      type: EventRenderer,
    },

    placeholderForCreate: {
      type: Boolean,
      default: false,
    },

    scrollPush: {
      type: Number,
      default: 0,
    },

    intervalWidth: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    marginStyle(): object {
      return { marginRight: `${this.scrollPush}px` };
    },
    widthStyle(): object {
      return { width: `${convertToUnit(this.intervalWidth)}` };
    },
  },
});
</script>
