<template>
  <div
    class="v-calendar-daily_head-day"
    @mouseenter="mouseEnterDay"
    @mouseleave="mouseLeaveDay"
    @mousemove.stop="mouseMoveDay"
    @mousedown="mouseDownDay"
    @mouseup="mouseUpDay"
    @click.stop="add"
    @dragstart.prevent
  >
    <div style="calendar-interval-column-header">
      <div class="calendar-interval-column-side"></div>
      <div
        style="flex: none;
                  margin-left: 8px;"
      >
        <div
          class="v-calendar-daily_head-weekday font-weight-medium"
          :class="{
            'primary--text': day.currentDay,
          }"
          @dragstart.prevent
        >
          {{ weekday }}
        </div>
        <div class="v-calendar-daily_head-day-label">
          <slot name="day-label-header">
            <v-btn
              :color="day.isToday(day) ? 'primary' : 'transparent'"
              fab
              class="justify-center text-center align-center"
              style="
                z-index: 2;"
              depressed
              @click.stop.prevent="viewDay"
              @mousedown.stop
              ><span class="headline font-weight-regular">
                {{ dayOfMonth }}</span
              ></v-btn
            >
          </slot>
        </div>
        <!-- <div class="ds-all-day-events"> -->
        <slot name="day-header">
          <template v-for="(event, i) in visibleEvents">
            <calendar-event
              ref="events"
              v-bind="{ $scopedSlots }"
              v-on="$listeners"
              :calendar-event="event"
              :key="event.id"
              :day="day"
              :week="week"
              :index="i"
              :calendar="calendar"
            />
          </template>
          <v-fade-transition mode="out-in" leave-absolute hide-on-leave>
            <div v-if="hasPlaceholder">
              <calendar-event-placeholder
                ref="events"
                v-bind="{ $scopedSlots }"
                v-on="$listeners"
                :day="day"
                :week="week"
                :placeholder="placeholder"
                :placeholder-for-create="placeholderForCreate"
                :index="visibleEvents.length + 1"
                :calendar="calendar"
              ></calendar-event-placeholder>
            </div>
          </v-fade-transition>
        </slot>
        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import {
  Calendar,
  EventRenderer,
  CalendarDay,
  Functions as fn,
} from "altoleap-calendar-lib/src";
import { isEventStart, getWeekViewDays } from "@/util/newCalendar";
import { convertToUnit } from "@/util/helpers";
export default Vue.extend({
  props: {
    day: {
      required: true,
      type: CalendarDay as PropType<CalendarDay<any, any>>,
    },
    events: {
      required: false,
      type: Array,
    },

    calendar: {
      required: true,
      type: Calendar,
    },

    placeholder: {
      type: EventRenderer,
    },

    placeholderForCreate: {
      type: Boolean,
      default: false,
    },
    formats: {
      type: Object,
      default: function() {
        return {
          weekday: "ddd",
        };
      },
    },
  },
  computed: {
    dayOfMonth(): number {
      return this.day.dayOfMonth;
    },

    weekday(): string {
      return this.day.format(this.formats.weekday);
    },
    visibleEvents(): EventRenderer<any, any>[] {
      return this.day.events.filter(this.isVisible);
    },
    week(): any {
      return getWeekViewDays(1, this.calendar.start);
    },

    hasPlaceholder() {
      return (
        this.placeholder &&
        this.placeholder.fullDay &&
        this.placeholder.time.matchesDay(this.day)
      );
    },
  },
  methods: {
    isVisible(calendarEvent: any) {
      if (!calendarEvent.fullDay) {
        return false;
      }

      if (
        // this.$dayspan.features.hideOnMove &&
        this.placeholder &&
        this.placeholder.event === calendarEvent.event
      ) {
        return false;
      }

      return true;
    },
    add() {
      this.$emit("add", this.day);
    },

    viewDay($event: MouseEvent) {
      this.$emit("view-day", this.day);
    },

    mouseEnterDay($event: MouseEvent) {
      console.log(this.getEvent("mouse-enter-day: WEEKDAY", $event));

      this.$emit("mouse-enter-day", this.day);
    },

    mouseLeaveDay($event: MouseEvent) {
      this.$emit("mouse-leave-day", this.day);
    },

    mouseMoveDay($event: MouseEvent) {
      this.$emit("mouse-move-day", this.getEvent("mouse-move-day", $event));
    },

    mouseDownDay($event: MouseEvent) {
      this.$emit("mouse-down-day", this.getEvent("mouse-down-day", $event));
    },

    mouseUpDay($event: MouseEvent) {
      this.$emit("mouse-up-day", this.getEvent("mouse-up-day", $event));
    },

    getEvent(type: string, $event: MouseEvent, extra = {}) {
      return fn.extend(
        {
          type: type,
          day: this.day,
          calendar: this.calendar,
          left: $event.button === 0 && $event.buttons > 0,
          right: $event.button === 1 && $event.buttons > 0,
          handled: false,
          $event: $event,
          $vm: this,
          $element: this.$el,
        },
        extra
      );
    },
  },
});
</script>
