<template>
  <v-fade-transition>
    <router-view></router-view>
  </v-fade-transition>
</template>

<script lang="ts">
import Vue from "vue";
import mixins from "@/util/mixins";
import CalendarBase from "@/mixins/base";

export default mixins(CalendarBase).extend({
  name: "App",

  components: {},

  data: () => ({
    drawer: false,
  }),
});
</script>
<style lang="scss">
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
// @import "~vuetify/src/styles/styles.sass";
// @import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap");
// $body-font-family: "Maven Pro" !important;

// @import url("https://fonts.googleapis.com/css? family=Oxygen:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css? family=Comfortaa&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
// 'Google Sans'

$body-font-family: "Google Sans", Roboto, Arial;
// $heading-font-family: "Noto Sans";
// $title-font: "Comfortaa";
.v-application {
  font-family: $body-font-family, sans-serif !important;
  // .title {
  // To pin point specific classes of some components
  // font-family: $title-font, sans-serif !important;
  // }
}

.ds-app-calendar-toolbar {
  .v-toolbar__content {
    border-bottom: 1px solid rgb(224, 224, 224);
  }
}

.integration-drawer {
  .v-navigation-drawer__append {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      left 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      right 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      max-width 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .v-navigation-drawer__content {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      left 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      right 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      max-width 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.text-flow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.integration-name {
  color: #80868b;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 13px;
  text-transform: uppercase;
  outline: none;
}

.integration-section {
  outline: none;
  color: #5f6368;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.ds-expand {
  width: 100%;
  height: 100%;
}

.ds-calendar {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px !important;
}

.ds-month-view {
  width: 100%;
  height: 100%;

  .ds-today {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
</style>
