<template>
  <div :class="staticClass">
    <!-- {{ calendar }} -->
    <div class="v-calendar-year-month mb-12" v-for="i in rows" :key="i">
      <div class="month-container month-width">
        <v-btn
          small
          icon
          depressed
          class="ma-0"
          @click="$emit('click:date', day)"
          :class="{
            'btn--active': day.currentDay,
            'ds-light-forecolor': !day.inCalendar,
          }"
        >
          {{ day.dayOfMonth }}
        </v-btn>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import props from "@/util/calendar/props";
import CalendarBase from "@/mixins/base";
import Localable from "@/mixins/localable";
import Times from "@/mixins/times";
import Mouse from "@/mixins/mouse";
import mixins from "@/util/mixins";

import { convertToUnit } from "@/util/helpers";
import {
  Calendar,
  CalendarDay as Day,
  Functions as fn,
} from "altoleap-calendar-lib/src";
import {
  parseDay,
  forType,
  getWeekViewDays,
  getDayIdentifier,
  DaySpan,
} from "@/util/newCalendar";
import { mapActions } from "vuex";
import Vue from "vue";

export default mixins(Vue, Localable, Mouse, Times).extend({
  props: {
    calendar: {
      required: true,
      type: Calendar,
    },
    placeholder: {
      type: [Object],
    },
    placeholderForCreate: {
      type: Boolean,
      default: false,
    },
    ...props.weeks,
  },

  data: () => ({
    scrollPush: 0,
  }),
  mounted() {
    // this.init();
    // console.log(this.getWeekViewDays().then((res) => res));
  },

  computed: {
    staticClass(): string {
      return "v-calendar-yearly";
    },
    parsedMinWeeks(): number {
      return fn.isString(this.minWeeks)
        ? parseInt(this.minWeeks)
        : this.minWeeks;
    },
    todayWeek(): Day[] {
      return getWeekViewDays(1, this.calendar.start);
    },

    rows() {
      // console.log(this.calendar.days);

      return Math.floor(this.calendar.days.length / 30);
    },
  },

  methods: {
    // getMonth() {
    //   return Calendar.months(1, this.getMonthStart(), 0, {
    //     fill: true,
    //     minimumSize: 42,
    //   });
    // },

    classesHeader(day: Day) {
      return {
        "ds-out-calendar": !day.inCalendar,
      };
    },
    monthsAtRow(row: number, rowSize: number) {
      const start = (row - 1) * rowSize;
      console.log("SLICE", this.calendar.days.slice(start, start + rowSize));

      return this.calendar.days.slice(start, start + rowSize);
    },
    isHighlighted(day: Day) {
      return this.calendar.span.matchesDay(day);
    },
    // isOutside(day: Day): boolean {
    //   const dayIdentifier = getDayIdentifier(day);

    //   return (
    //     dayIdentifier < getDayIdentifier(this.parsedStart) ||
    //     dayIdentifier > getDayIdentifier(this.parsedEnd)
    //   );
    // },
  },
});
</script>
<style lang="sass">
.current-weekday
  color: red
  color: red
@import './IntervalHeader.sass'
// @import './VCalendarWeekly.sass'
.v-calendar-yearly
  padding-right: 32px
  padding-top: 8px
  display: -webkit-box
  display: -webkit-flex
  display: flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-justify-content: space-between
  justify-content: space-between
  -webkit-align-content: flex-start
  align-content: flex-start

.v-calendar-year-month
  -webkit-flex-basis: 25%
  flex-basis: 25%
  min-width: 288px
  min-height: 252px

.month-width
  width: 256px

.month-container
  padding: 0 14px 16px 19px
  -webkit-user-select: none
  position: relative
</style>
